<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/about.css">
    <title>About Us</title>
</head>
<body>
    <%- include ('partials/navigation.ejs') %>
    <div class="hero-section">
       <div class="content-container">
            <h1>Living healthy matters</h1>
            <p>Our specialists aspire to bridge the gap between your benefits
 plan and the health needs.
            </p>
       </div>
    </div>
    <div class="story-container">
        <div class="content-sign-container">
            <h2>You have to begin to tell the story of your life 
 as you now want it to be and discontinue the tales.      
            </h2>
            <p>Deployment long tail monetization strategy equity basic
                of team of conversion. Supply chain freemium investor long
                tail agile workers prototype validation influencer market share. <br><br>
                Deployment long tail monetization strategy equity basic
                of team of conversion. Supply chain freemium investor long tail
                agile workers prototype validation influencer market share. <br><br>
                Deployment long tail monetization strategy equity basic of 
                team of coversion. Supply chain freemium investor long tail
                agile workers prototype validation influencer market share.
            </p>
            <img class="sign-img" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/signature.png" alt="doctor-signature">
        </div>
        <div class="doctor-img">
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/femaleDoctor.png" alt="doctor-img">
        </div>
    </div>
    <div class="free-check-up-section">
        <div class="content-btn-container">
            <h2>Your wellness builds upon the medical daily.</h2>
            <p>Find your best seft here. Discover new ways to live an inspiring
                life through natural beauty, nutrition and diet, and active lifestyle,
                and better relationships.
            </p>
            <button>Get a Free Checkup</button>
        </div>
        <div class="facility-container">
            <div class="facility">
                <h3>12M</h3>
                <span>Happy Patients</span>
            </div>
            <div class="facility">
                <h3>5K</h3>
                <span>Medical Assistants</span>
            </div>
            <div class="facility">
                <h3>9.8</h3>
                <span>Alexa Score</span>
            </div>
            <div class="facility">
                <h3>3.2K</h3>
                <span>Doctors Available</span>
            </div>
            <div class="facility">
                <h3>45K</h3>
                <span>Cure Rate</span>
            </div>
            <div class="facility">
                <h3>75</h3>
                <span>Health Points</span>
            </div>
        </div>
    </div>
    <div class="help">
        <div>
            <h2>Join our team</h2>
            <p>We are always looking for good and talented people.</p>
        </div>
        <button onclick="location.href='/contactUs';">Submit your CV</button>
    </div>
    <%- include ('partials/footer.ejs') %>
</body>
</html>