<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/signup.css">
    <link rel="stylesheet" href="../css/login.css">
    <title>login</title>
    <style>
        body{
            position:relative;
        }
        .active{
            display:block;
        }
    </style>
</head>
<body>
    
    
    <%- include('partials/navigation.ejs') %>
 
    
    <div class="main-container">
        <div class="form-container">
            <h1>Change Password</h1>
            <hr>


            <form id="login-form" action="/changePassword" method="post">
                <div class="field-set"> 

                    
                    <!-- login With Email And password -->
                    <div class="input-container login-with-email">
                        <input type="password" name="password" placeholder="Enter New Password">
                        <i class="far fa-eye-slash password-eye eye"></i>
                        <i class="far fa-eye eye password-eye active"></i>
                    </div>
                    <div class="input-container login-with-email">
                        <input type="password" name="confirmPassword" placeholder="Confirm Password">
                        <i class="far fa-eye eye confirm-password-eye active"></i>
                        <i class="far fa-eye-slash eye confirm-password-eye"></i>
                    </div>
                    
                    
                    <!-- to show alternative login method
                    <div style="display:flex;justify-content: space-between;">
                        <span id="try-another" onclick="location.href='/login/?method=loginWithOtp';">Try Another Method?</span>
                        <span id="forget-password">Forget Password?</span>
                    </div>
                     -->
                    
                    <div class="btn-container" style="margin:2rem 0 1rem 0;">
                        <button type="submit">Change Password</button>
                        <i class="fas fa-arrow-right"></i>
                    </div>
                </div>
            </form>

        </div>
    </div>
    
    <p class="copyright">All Rights Reserved. &copy; tavstra 2018</p>
    
    
    <% if(passwordError) { %>
        <script>
                var div = document.createElement('div');
                var cls = document.createAttribute('class');
                cls.value = 'login-error';
                div.setAttributeNode(cls);
                div.innerHTML = `<div>
                                    <i class='far fa-times-circle' style='margin-right:1rem;'></i>
                                </div>
                                <div>
                                    <h4>Failure:</h4>
                                    <p>Passwords didn't match!</p>
                                </div>`;
                document.querySelector('body').appendChild(div);
                setTimeout(() => {
                    document.querySelector('body').removeChild(div);
                }, 3000);
        </script>
    <% } %>
    
    <script src="../js/changePassword.js"></script>

</body>
</html>