<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/faqs.css">
    <title>FAQs</title>
</head>
<body>
    <%- include('partials/navigation.ejs') %>
   <div class="hero-section">
       <h1>FAQS</h1>
       <span><a href="/">Home</a> / FAQs</span>
   </div>
   <div class="main-container">
        <div class="accordian-container">
            <button class="accordian">
                    <div class="icon-and-content">
                        How do I make Payments?
                    </div>
                    <div class="drop-down">
                        <i class="fas fa-angle-down"></i>
                    </div>
            </button>
            <div class="panel">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
                </p>
            </div>
            <button class="accordian">
                    <div class="icon-and-content">
                        There is not enough money in my Portea Wallet for making a payment. What do I do?
                    </div>
                    <div class="drop-down">
                        <i class="fas fa-angle-down"></i>
                    </div>
            </button>
            <div class="panel">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
                </p>
            </div>
            <button class="accordian">
                    <div class="icon-and-content">
                        Can I transfer balance in Portea Wallet balance to another user?
                    </div>
                    <div class="drop-down">
                        <i class="fas fa-angle-down"></i>
                    </div>
            </button>
            <div class="panel">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
                </p>
            </div>
            <button class="accordian">
                    <div class="icon-and-content">
                        Is Portea Money the same as Portea Wallet?
                    </div>
                    <div class="drop-down">
                        <i class="fas fa-angle-down"></i>
                    </div>
            </button>   
            <div class="panel">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
                </p>
            </div>
            <button class="accordian">
                    <div class="icon-and-content">
                        Refund
                    </div>
                    <div class="drop-down">                    
                        <i class="fas fa-angle-down"></i>
                    </div>
            </button>
            <div class="panel">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
                </p>
            </div>
            <button class="accordian">
                    <div class="icon-and-content">
                        What is a Family ID?
                    </div>
                    <div class="drop-down">
                        <i class="fas fa-angle-down"></i>
                    </div>
            </button>
            <div class="panel">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
                </p>
            </div>
            <button class="accordian">
                    <div class="icon-and-content">
                        Who can be added as Family?
                    </div>
                    <div class="drop-down">
                        <i class="fas fa-angle-down"></i>
                    </div>
            </button>
            <div class="panel">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
                </p>
            </div>
        </div>
   </div>
   <div class="help">
        <div>
            <h1>Need Help?</h1>
            <p>Just let us know. We will be happy to assist you</p>
        </div>
        <button onclick="location.href='/contactUs';">Submit your query</button>
    </div>
    <%- include ('partials/footer.ejs') %>
   <!-- <script src="../js/navigation.js"></script> -->
   <script src="../js/faqs.js"></script>
</body>
</html>