<link rel="stylesheet" href="../css/theme.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="slots-container">
        <div class="slots-sub-container">
            <div class="time">
                <i class="fas fa-sun"></i>Morning
            </div>
            <div class="slots">
                <div class="slot">01:00AM</div>
                <div class="slot">01:30AM</div>
                <div class="slot">02:00AM</div>
                <div class="slot">06:00AM</div>
                <div class="slot">06:30AM</div>
                <div class="slot">07:00AM</div>
                <div class="slot">07:30AM</div>
                <div class="slot">08:00AM</div>
                <div class="slot">08:30AM</div>
                <div class="slot">09:00AM</div>
                <div class="slot">09:30AM</div>
                <div class="slot">10:00AM</div>
                <div class="slot">10:30AM</div>
                <div class="slot">11:00AM</div>
                <div class="slot">11:30AM</div>
            </div>
        </div>
        <div class="slots-sub-container">
            <div class="time">
                <i class="fas fa-sun"></i>Afternoon
            </div>
            <div class="slots">
                <div class="slot">12:00PM</div>
                <div class="slot">12:30PM</div>
                <div class="slot">01:00PM</div>
                <div class="slot">01:30PM</div>
                <div class="slot">02:00PM</div>
            </div>
        </div>
        <div class="slots-sub-container">
            <div class="time">
                <i class="fas fa-moon"></i>Evening
            </div>
            <div class="slots">
                <div class="slot">06:00PM</div>
                <div class="slot">06:30PM</div>
                <div class="slot">07:00PM</div>
                <div class="slot">07:30PM</div>
                <div class="slot">08:00PM</div>
                <div class="slot">09:00PM</div>
                <div class="slot">09:30PM</div>
                <div class="slot">10:00PM</div>
                <div class="slot">10:30PM</div>
                <div class="slot">11:00PM</div>
            </div>
        </div>
</div>