<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/treatment.css">
    <title>Treatment</title>
</head>
<body>
    <nav class="nav">
        <div class="logo-and-bar-container">
            <div class="logo-container">
                <a href="/"><img class="logo" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="logo"></a>
            </div>
            <button class="bars"><i class="fas fa-bars mobile-view mobile-cum-tablet-view"></i></button>
        </div>    
        <div class="nav-open">
            <div class="nav-expanded">
                <a href="/doctor">Doctors</a>
                <hr>
                <a href="/hospitals">Hospitals</a>
                <hr>
                <a href="/treatment">Treatment</a>
                <hr>
                <a href="/">Other Services</a>
                <hr>
               <a href="/">About</a>
               <hr>
            </div>
            <div class="nav-btn-container">
                <button class='nav-button-white' onclick="location.href='/login';">Login / Sign Up</button>
                <button class='nav-button'>Get a Quote</button>
            </div>
        </div>        
    </nav>
    <script src="../js/navigation.js"></script>
    <div class="hero-section">
        <h1>Dentistry</h1>
        <p><a href="/">Home</a> / Dentistry</p>
    </div>
    <div class="main-container">
        <h2>Vaccination</h2>
        <div class="info-table-container">
            <div class="img-about-precaution-container">
                <div class="img-about-container">
                    <div class="img-container">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--009.jpg" alt="">
                    </div>
                    <div class="about-container">
                        <h3>About Dentist Department</h3>
                        <p>The vaccination of dentists against various
 vaccine-preventable infections is the most important measure of primary
 prevention against such diseases whic hwould otherwise prove fatal
 for both the dentists and their patients.
                        </p>
                        <ul>
                            <li>CF-related diabetes(monthly)</li>
                            <li>Gastrointestinal(monthly)</li>
                            <li>CF-related liver disease(monthly)</li>
                            <li>Sweat testing (three times per month)</li>
                        </ul>
                    </div>
                </div>
                <div class="precaution-container">
                    <div class="precaution">
                        <div class="icon-container">
                            <i class="fas fa-stethoscope"></i>
                        </div>
                        <h3>Central Nervous System</h3>
                        <p>Open visitation with only two visitors
 in a room at any time. No one under 12 years of age may.</p>
                    </div>
                    <div class="precaution">
                        <div class="icon-container">
                            <i class="fas fa-tablets"></i>
                        </div>
                        <h3>Allergic Disorders</h3>
                        <p>Open visitation with only two visitors
 in a room at any time. No one under 12 years of age may.</p>
                    </div>
                    <div class="precaution">
                        <div class="icon-container">
                            <i class="fas fa-heartbeat"></i>
                        </div>
                        <h3>Neoplastic Disorders</h3>
                        <p>Open visitation with only two visitors
 in a room at any time. No one under 12 years of age may.</p>
                    </div>
                </div>
            </div>
            <div class="table-container">
                <div class="table">
                    <h4>Service Details</h4>
                    <table>
                        <tr>
                            <td>Price</td>
                            <td>from $340</td>
                        </tr>
                        <tr>
                            <td>Duration</td>
                            <td>10 Minutes</td>
                        </tr>
                        <tr>
                            <td>Office</td>
                            <td># 46</td>
                        </tr>
                        <tr>
                            <td>Doctor</td>
                            <td>Dr. Elizbeth Beard</td>
                        </tr>
                        <tr>
                            <td>Categories</td>
                            <td>Family Medicine</td>
                        </tr>
                    </table>
                </div>
                <div class="table">
                    <h4>Schedule</h4>
                    <table>
                        <tr>
                            <td>Tuesday</td>
                            <td>10:00am - 01:00pm</td>
                        </tr>
                        <tr>
                            <td>Friday</td>
                            <td>07:00am - 10:00pm</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="services-container">
        <div class="heading-scroll-container">
            <h2>More Services</h2>
            <div class="scroll-bar-container">
                <div class="scroll-bar" style="margin-right:.3rem;">
                    <i class="fas fa-angle-left"></i>
                </div>
                <div class="scroll-bar" style="margin-left:.3rem;">
                    <i class="fas fa-angle-right"></i>
                </div>
            </div>
        </div>
        <div class="cards-container">
            
        <div class="card-container slide-in-right">
            <div class="card slide-in-right">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--008.jpg" alt="">
                <div class="info-container">
                    <h3>Orthopedic Surgery</h3>
                </div>
            </div>
            <div class="card slide-in-right ">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--010.jpg" alt="">
                <div class="info-container">
                    <h3>Cancer</h3>
                </div>
            </div>
            <div class="card slide-in-right">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg" alt="">
                <div class="info-container">
                    <h3>Cardiology</h3>
                </div>
            </div>
        </div>
        <div class="card-container slide-in-right inactive">
            <div class="card slide-in-right">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--009.jpg" alt="">
                <div class="info-container">
                    <h3>Dentistry</h3>
                </div>
            </div>
            <div class="card slide-in-right">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--000.jpg" alt="">
                <div class="info-container">
                    <h3>Infertility Treatment</h3>
                </div>
            </div>
            <div class="card slide-in-right">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--006.jpg" alt="">
                <div class="info-container">
                    <h3>Organ Transplant</h3>
                </div>
            </div>
        </div>
        <div class="card-container slide-in-right inactive">
            <div class="card slide-in-right ">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg" alt="">
                <div class="info-container">
                    <h3>Cardiology</h3>
                </div>
            </div>
            <div class="card slide-in-right">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--010.jpg" alt="">
                <div class="info-container">
                    <h3>Cancer</h3>
                </div>
            </div>
            <div class="card slide-in-right">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--008.jpg" alt="">
                <div class="info-container">
                    <h3>Orthopedic Surgery</h3>
                </div>
            </div>
        </div>
        </div>
    </div>
    <footer>
        <div class='footer-tablet'>
            <div class="article-container" style="display:flex;">
                <div style="margin:0 10px;"> <a href="/doctor" >Doctors</a></div >
                <div style="margin:0 10px;"><a href="/hospitals">Hospitals</a></div>
                <div style="margin:0 10px;"><a href="">Treatment</a></div>
                <div style="margin:0 10px;"><a href="">Other Services</a></div>
                <div style="margin:0 10px;"><a href="">FAQs</a></div>
            </div>
            <div class="logo-container">
                <a href="/"><img class ='logo' src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" alt="logo"></a>
            </div>
         </div>
         <div class='footer-tablet-end'>
             <p class="footer-end">All Rights Reserved &copy tvastra 2018</p>
             <div>
                 <i class="fab fa-facebook-square" style="margin:auto 5px;"></i>
                 <i class="fab fa-pinterest" style="margin:auto 5px;"></i>
                 <i class="fab fa-twitter" style="margin:auto 5px;"></i>
                 <i class="fab fa-google-plus-g" style="margin:auto 5px;"></i>
                 <i class="fab fa-instagram" style="margin:auto 5px;"></i>
             </div>
         </div>
        </footer>
        <script src="../js/treatment.js"></script>
</body>
</html>