/* header section */
/* end of header section */
/* .show-more{
    color:rgba(16, 176, 240, 0.959);
    font-weight: bolder;
    font-size:1rem;
    margin-block-end: .8rem;
    margin-block-start: .5rem;
} */
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1.25rem 3.5rem .6rem .75rem;
	p {
		display: inline-block;
	}
	button {
		width: 30%;
		max-width: 6.9rem;
		height: 2.5rem;
		font-size: .9rem;
	}
	.fa-angle-down {
		position: relative;
		left: .312rem;
	}
}
.list-with-filters {
	display: flex;
	margin-left: 2.5rem;
	.filters {
		// flex-grow: .4;
		width: 20%;
		line-height: 1.2rem;
		max-width: 15.6rem;
		font-size: 1.1rem;
		form {
			.filter-form-row {
				display: grid;
				grid-template-columns: 10% 90%;
				margin-top: .19rem;
				align-items: center;
				.box {
					width: .875rem;
					height: .875rem;
					border: solid 1px rgb(187, 184, 184);
					border-radius: .25rem;
				}
			}
		}
	}
}
.parent-container {
	// flex-grow: 1;
	display: flex;
	flex-direction: column;
	padding: .625rem;
	width:100%;
	.doctor-container {
		border: solid 1px rgb(192, 192, 196);
		padding: 0;
		margin: .625rem 1.875rem 0 .625rem;
		display: grid;
		grid-template-columns: 60% 40%;
		align-items: space-between;
		.info-button {
			.info-container {
				padding: 0 .625rem;
				min-height: 10rem;
				text-align: left;
				// .info-container-row {
				// 	.info-container-sub-row {
				// 		i {
				// 			color: rgba(16, 176, 240, 0.959);
				// 		}
				// 	}
				// }
			}
			.info-container-row {
				display: flex;
				flex-wrap: nowrap;
				// padding-top: 1rem;
				padding-left: 1.875rem;
				margin-bottom:1rem;
				// font-size: 1.2rem;
				.info-container-sub-row {
					display: flex;
					width: 45%;
					align-items: center;
					i{
						color:rgba(16,176,240,.959);
					}
					p {
						display: inline-block;
						padding-left: 1rem;
						margin-top: 0;
						margin-bottom: 0;
						font-size: 1.2rem;
						line-height: 1.3rem;
					}
					&:nth-child(2) {
						padding-left: .75rem;
					}
				}
			}
			text-align: left;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			.appointment-btn {
				margin: 1.875rem 0 1.875rem 0;
				position: relative;
				left: 2.1875rem;
			}
			.nav-button {
				color: rgb(215, 225, 232);
				width:fit-content;
				height: 3.5rem;
				border-radius: .3rem;
				// padding:0 2rem;
				background: rgb(5, 10, 53);
			}
		}
		.img-container {
			.doctor-img {
				height:100%;
				width:100%;
				max-height: 22rem;
			}
			display: flex;
			justify-content: flex-end;
		}
	}
}
@media (max-width:34.4rem) {
	.header {
		margin: 1rem;
	}
	.parent-container {
		.doctor-container {
			display: block;
			margin: .625rem 0;
			.img-container {
				.doctor-img {
					max-width: unset;
					position: unset;
					width: 100%;
					height: 25rem;
				}
			}
			.info-button {
				.info-container-row {
					flex-direction: column;
					padding-left: 0;
					width: unset;
					.info-container-sub-row {
						width:unset;
						&:nth-child(2) {
							padding: 1rem 0 0 0;
						}
					}
				}
				.appointment-btn {
					margin: .625rem 0 .625rem 0;
					position: unset;
				}
				display: block;
				text-align: center;
			}
		}
	}
	.list-with-filters {
		.filters {
			display: none;
		}
		margin-left: 0;
	}
}
@media only screen and (min-width:40.6rem){
	.list-with-filters{
		.filters{
			form{
				.filter-form-row{
					.labet-container{
						margin-left:.625rem;
					}
				}
			}
		}
	}
	.header{
		margin-left:2.5rem;
	}
}
@media only screen and (min-width:75rem) {
	.list-with-filters {
		.filters {
			form {
				.filter-form-row {
					.label-container {
						// margin-left: -1px;
						font-size: 1.2rem;
					}
				}
			}
			margin-right: 1.25rem;
			max-width: 26.9rem;
			p {
				font-size: 1.5rem;
				margin-block-end: .5rem;
			}
		}
	}
	.parent-container {
		.doctor-container {
			.info-button {
				.info-container-row {
					.info-container-sub-row {
						p {
							font-size: 1.2rem;
						}
						// min-width: 20rem;
					}
				}
			}
			.img-container{
				.doctor-img{
					position: unset;
					max-width: 16rem;
					max-height: 22rem;
					padding:0;
				}
			}
		}
	}
}
