<div class="footer-container">
    <footer>
        <div class="page-details">
           <span>Medicine > </span> Doctors
        </div>
        <div class="settings">
            <div>Version 1.0.0</div>
           <i class="fas fa-cogs"></i>
        </div>
   </footer>
</div>
<script src="../js/adminFooter.js"></script>