/* header section */
/* end of header section */
/* .show-more{
    color:rgba(16, 176, 240, 0.959);
    font-weight: bolder;
    font-size:1rem;
    margin-block-end: .8rem;
    margin-block-start: .5rem;
} */
.tablet-view {
  display: block; }

.mobile-cum-desktop-view {
  display: none; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 55px 10px 3.8rem; }
  .header p {
    display: inline-block; }
  .header button {
    width: 30%;
    max-width: 110px;
    height: 40px;
    font-size: .9rem; }
  .header .fa-angle-down {
    position: relative;
    left: 5px; }

.list-with-filters {
  display: grid;
  margin-left: 40px; }
  .list-with-filters .filters {
    flex-grow: .4;
    max-width: 250px; }
    .list-with-filters .filters form .filter-form-row {
      display: grid;
      grid-template-columns: 10% 90%;
      margin-top: 3px;
      align-items: center; }
      .list-with-filters .filters form .filter-form-row .box {
        width: 15px;
        height: 15px;
        border: solid 1px #bbb8b8;
        border-radius: 4px; }

.parent-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 10px; }
  .parent-container .doctor-container {
    border: solid 1px #c0c0c4;
    padding: 0;
    margin: 0 50px 20px 10px;
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: space-between; }
    .parent-container .doctor-container .info-button {
      text-align: left;
      display: flex;
      flex-direction: column; }
      .parent-container .doctor-container .info-button .info-container {
        padding: 0 10px;
        min-height: 10rem;
        text-align: left; }
      .parent-container .doctor-container .info-button .info-container-row {
        display: flex;
        flex-wrap: nowrap;
        padding-left: 30px;
        margin-bottom: 1rem; }
        .parent-container .doctor-container .info-button .info-container-row .info-container-sub-row {
          display: flex;
          width: 45%;
          align-items: center; }
          .parent-container .doctor-container .info-button .info-container-row .info-container-sub-row i {
            color: rgba(16, 176, 240, 0.959); }
          .parent-container .doctor-container .info-button .info-container-row .info-container-sub-row p {
            display: inline-block;
            padding-left: 15px;
            font-size: 1.2rem;
            margin-top: 0;
            margin-bottom: 0;
            line-height: 1.5rem; }
      .parent-container .doctor-container .info-button .appointment-btn {
        margin: 55px 0 30px 0;
        position: relative;
        left: 35px; }
      .parent-container .doctor-container .info-button .nav-button {
        color: #d7e1e8;
        width: fit-content;
        height: 55px;
        border-radius: 5px;
        background: #050a35; }
      .parent-container .doctor-container .info-button .features {
        display: flex;
        padding-left: 30px;
        flex-wrap: wrap;
        align-items: center; }
        .parent-container .doctor-container .info-button .features div {
          border: solid 1px grey;
          border-radius: 50px;
          width: fit-content;
          margin: .25rem .25rem; }
          .parent-container .doctor-container .info-button .features div p {
            padding: .25rem .6rem;
            font-size: 1.1rem;
            margin: 0; }
    .parent-container .doctor-container .img-container {
      display: flex;
      justify-content: flex-end; }
      .parent-container .doctor-container .img-container .doctor-img {
        height: 100%;
        width: 100%; }

@media (max-width: 550px) {
  .tablet-view {
    display: none; }

  .mobile-cum-desktop-view {
    display: unset; }

  .header {
    margin: 15px; }

  .parent-container .doctor-container {
    display: block;
    margin: 10px 0; }
    .parent-container .doctor-container .img-container .doctor-img {
      max-width: unset;
      position: unset;
      width: 100%;
      height: 400px; }
    .parent-container .doctor-container .info-button {
      display: block;
      text-align: center; }
      .parent-container .doctor-container .info-button .info-container-row {
        flex-direction: column;
        padding-left: 0;
        width: unset; }
        .parent-container .doctor-container .info-button .info-container-row .info-container-sub-row {
          width: unset; }
          .parent-container .doctor-container .info-button .info-container-row .info-container-sub-row:nth-child(2) {
            padding: 1rem 0 0 0; }
      .parent-container .doctor-container .info-button .appointment-btn {
        margin: 20px 0 30px 0;
        position: unset; }

  .list-with-filters {
    margin-left: 0; }
    .list-with-filters .filters {
      display: none; } }
@media only screen and (min-width: 650px) {
  .list-with-filters .filters form .filter-form-row .labet-container {
    margin-left: 10px; } }
@media only screen and (min-width: 1200px) {
  .tablet-view {
    display: none; }

  .mobile-cum-desktop-view {
    display: unset; }

  .parent-container .doctor-container .info-button .info-container-row .info-container-sub-row {
    min-width: 20rem; }
    .parent-container .doctor-container .info-button .info-container-row .info-container-sub-row p {
      font-size: 1.2rem; }
    .parent-container .doctor-container .info-button .info-container-row .info-container-sub-row:nth-child(2) {
      padding-left: 2rem; }

  .list-with-filters {
    grid-template-columns: 20% 80%; }
    .list-with-filters .filters {
      margin-right: 20px;
      max-width: 430px; }
      .list-with-filters .filters form .filter-form-row .labet-container {
        margin-left: -1px;
        font-size: 1.2rem; }
      .list-with-filters .filters p {
        font-size: 1.5rem;
        margin-block-end: .5rem; } }
.filters {
  display: none; }

@media only screen and (min-width: 1000px) {
  .filters {
    display: unset; }

  .list-with-filters {
    grid-template-columns: 20% 80%; }

  .header {
    margin-left: 2.3rem; }

  .help {
    margin: 0;
    text-align: left;
    padding: 60px 100px;
    color: #fffffe;
    background: #8fcaf1;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .help button {
      font-size: 1.5rem;
      height: 60px;
      width: 250px;
      background-color: #0099ff; } }

/*# sourceMappingURL=hospital.css.map */
