body {
  margin: .5rem; }

.find-section {
  padding: 1.56rem .625rem;
  background: #94bedd;
  color: #050a35; }
  .find-section .location {
    height: 3rem;
    display: flex;
    align-items: center; }
    .find-section .location .fa-map-marker-alt {
      font-size: 1rem; }
    .find-section .location input {
      height: 100%;
      border: solid 1px #f2efef;
      flex-grow: 1;
      margin: 0;
      padding: 0;
      border: 0; }
    .find-section .location .location-img {
      height: 1.25rem;
      width: 1.25rem; }
    .find-section .location div {
      width: 3rem;
      height: 100%;
      background: white; }
  .find-section .search {
    width: 100%;
    height: 3rem;
    background: white;
    padding: 0 0 0 0;
    margin: .625rem 0; }
  .find-section button {
    background: #050a35;
    color: white;
    margin: 1rem 0 1.25rem 0;
    height: 2.5rem;
    padding: 0;
    border: 0;
    width: 50%; }

.how-it-works {
  margin-top: 3rem; }
  .how-it-works .facility-container {
    display: grid;
    grid-template-columns: auto; }
    .how-it-works .facility-container .facility-info-container .facility-box {
      text-align: left;
      display: flex;
      max-width: 25rem;
      align-items: center;
      border: solid 0.125rem rgba(192, 192, 196, 0.5);
      margin: .625rem auto;
      border-radius: .625rem; }
      .how-it-works .facility-container .facility-info-container .facility-box p {
        display: inline-block;
        margin: 2rem 0;
        line-height: 2.4rem;
        padding: 0 0 0 .625rem;
        font-size: 2rem;
        color: #c0c0c4; }
      .how-it-works .facility-container .facility-info-container .facility-box .facility-number {
        font-size: 2.5rem; }
      .how-it-works .facility-container .facility-info-container .facility-box:hover {
        border: solid 0.19rem rgba(17, 17, 156, 0.6); }
    .how-it-works .facility-container .facility-info-container .highlight {
      border: solid 0.19rem #0b0b72; }
      .how-it-works .facility-container .facility-info-container .highlight .facility-number {
        color: rgba(48, 164, 231, 0.5); }
      .how-it-works .facility-container .facility-info-container .highlight p {
        color: black; }
    .how-it-works .facility-container .facility-img {
      width: 100%; }

.intro-to-doctors {
  color: #d4d4d4;
  background: #161f3b;
  padding: 1.25rem .625rem; }
  .intro-to-doctors .doctor-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    .intro-to-doctors .doctor-container .doctors {
      background: white;
      margin: 1rem 1rem;
      box-shadow: 0 0.19rem #009cff;
      max-width: 20.3rem;
      height: 35rem; }
      .intro-to-doctors .doctor-container .doctors .doctor-img {
        width: 100%;
        max-width: 20.3rem;
        height: 25rem; }
      .intro-to-doctors .doctor-container .doctors .doctor-info {
        padding: 0 0 0 1.25rem;
        margin: 0;
        color: black;
        text-align: left; }
        .intro-to-doctors .doctor-container .doctors .doctor-info p {
          margin: 0; }

.circles-container {
  display: flex;
  align-items: center;
  margin: 3rem 0 0 1rem;
  display: none; }

.circles {
  height: .62rem;
  width: .625rem;
  margin: 0 .31rem;
  background: #727274;
  border-radius: 100%; }

.circle-highlighted {
  background: #121242;
  height: .75rem;
  width: .75rem;
  border: solid 0.19rem #1515bb; }

.features {
  margin: 3rem 0; }
  .features .features-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-row-gap: 1.25rem;
    width: 100%;
    justify-content: center;
    align-items: center; }
    .features .features-container .even-height {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 25rem 25rem;
      grid-row-gap: 1.25rem;
      justify-content: center; }
      .features .features-container .even-height .feature-info-img {
        width: 100%;
        height: 25rem;
        text-align: left;
        margin-left: auto;
        margin-right: auto; }
        .features .features-container .even-height .feature-info-img .feature-info-data {
          position: relative;
          color: white;
          top: 21.2rem;
          padding-left: 1.25rem; }
          .features .features-container .even-height .feature-info-img .feature-info-data p {
            margin: 0; }
      .features .features-container .even-height .feature-info-img-cancer {
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4), black), url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--010.jpg");
        background-size: 100% 100%; }
      .features .features-container .even-height .feature-info-img-cardiac {
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4), black), url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg");
        background-size: 100% 100%; }
      .features .features-container .even-height .feature-info-img-organTransplant {
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4), black), url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--006.jpg");
        background-size: 100% 100%; }
      .features .features-container .even-height .feature-info-img-infer {
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4), black), url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--000.jpg");
        background-size: 100% 100%; }
      .features .features-container .even-height .feature-info-img-orthoped {
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4), black), url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--008.jpg");
        background-size: 100% 100%; }
      .features .features-container .even-height .feature-info-img-dentist {
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4), black), url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--009.jpg");
        background-size: 100% 100%; }

.services {
  padding: 0 .3rem 1rem; }
  .services .services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .services .services-container .service-container {
      background: rgba(165, 160, 160, 0.2);
      border-radius: .625rem;
      margin: .625rem .31rem;
      width: 45%;
      height: 10.3rem;
      max-width: 10.3rem;
      color: #a5a0a0; }
      .services .services-container .service-container h4 {
        margin-top: 1rem; }

.desktop-view {
  display: none; }

@media (min-width: 31.25rem) {
  .find-section {
    padding: 1.56rem 20%; } }
@media (min-width: 43.75rem) {
  .tablet-view {
    display: block; }

  .mobile-view {
    display: none; }

  .mobile-cum-tablet-view {
    display: block; }

  .find-section {
    padding: 1.56rem 20%; }

  .how-it-works {
    margin: 1.25rem .625rem; }
    .how-it-works .facility-container {
      grid-template-columns: 40% 60%;
      align-items: center; }
      .how-it-works .facility-container .facility-img-section {
        position: relative;
        bottom: 4rem;
        margin-left: 1rem; }
        .how-it-works .facility-container .facility-img-section .facility-img {
          width: 80%;
          height: 31.25rem; }
        .how-it-works .facility-container .facility-img-section h2 {
          margin-top: 1rem; }
        .how-it-works .facility-container .facility-img-section p {
          padding: 0 2rem; }

  .features .features-container .even-height {
    grid-template-columns: 48% 48%;
    grid-template-rows: 25rem;
    grid-column-gap: 1.25rem; }

  .services {
    padding: 0 2rem 1rem; } }
@media (min-width: 62.5rem) {
  .filters {
    max-width: 31.25rem; } }
@media (min-width: 75rem) {
  .desktop-view {
    display: block; }

  .mobile-cum-tablet-view {
    display: none; }

  .mobile-view {
    display: none; }

  .find-section {
    text-align: left;
    padding: 9.3rem 7%;
    color: #070b33;
    background: url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img1.jpg");
    background-size: cover; }
    .find-section p {
      display: inline-block;
      width: 45%;
      font-size: 1.3rem; }
    .find-section .search-healthcare-form {
      margin-top: 2.5rem;
      width: 65%;
      height: 4rem;
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .find-section .search-healthcare-form .location {
        height: 100%;
        width: 35%;
        border-right: solid 0.125rem #dddada; }
    .find-section .search {
      height: 100%;
      padding: 0 0 0 1.25rem;
      width: 45%; }
    .find-section button {
      font-size: 1.2rem;
      color: #e9e7e7;
      height: 4rem;
      width: 20%;
      margin: auto; }

  .how-it-works {
    text-align: left;
    padding: 5rem 0;
    margin-left: 7%; }
    .how-it-works .facility-container .facility-info-container {
      margin-top: 3.5rem; }
      .how-it-works .facility-container .facility-info-container .facility-box {
        text-align: left;
        display: flex;
        max-width: 33.1rem;
        padding: 0 0 0 2.5rem;
        border: solid 0.125rem rgba(223, 223, 223, 0.5);
        height: 8.1rem;
        margin: .625rem .125rem;
        font-weight: bold;
        align-items: center;
        border-radius: .625rem; }
        .how-it-works .facility-container .facility-info-container .facility-box .facility-number {
          color: rgba(192, 192, 196, 0.5);
          margin-right: 2rem;
          font-size: 2.5rem; }
        .how-it-works .facility-container .facility-info-container .facility-box p {
          font-size: 1.7rem; }
      .how-it-works .facility-container .facility-info-container .highlight {
        border: solid 0.19rem #0b0b72; }
        .how-it-works .facility-container .facility-info-container .highlight .facility-number {
          color: rgba(48, 164, 231, 0.5); }
    .how-it-works .facility-container .facility-img-section {
      text-align: center; }
      .how-it-works .facility-container .facility-img-section .facility-img {
        width: 50%;
        height: 50%; }
      .how-it-works .facility-container .facility-img-section p {
        display: inline-block;
        width: 60%; }
      .how-it-works .facility-container .facility-img-section h3 {
        margin-top: 1.4rem; }

  .intro-to-doctors {
    padding: 3rem 4% 3rem 7%;
    text-align: left; }
    .intro-to-doctors .doctor-container {
      justify-content: flex-start; }
      .intro-to-doctors .doctor-container .doctor-img {
        width: 100%;
        max-width: 23rem;
        height: 25rem; }
      .intro-to-doctors .doctor-container .doctors {
        background: white;
        margin: 1rem 2rem 1rem 0;
        box-shadow: 0 0.18rem #009cff;
        width: 22%;
        max-width: 23.1rem;
        height: 35rem; }

  .circles-container {
    display: flex; }

  .features {
    margin: 6.25rem 7%;
    text-align: left; }
    .features .features-container {
      width: 100%;
      margin-top: 4.3rem;
      grid-template-columns: 32% 32% 32%;
      grid-column-gap: .625rem;
      grid-template-rows: auto;
      justify-content: start; }
      .features .features-container .even-height {
        grid-template-columns: 100%;
        grid-row-gap: .625rem; }
        .features .features-container .even-height .feature-info-img {
          width: 100%;
          height: unset;
          text-align: left;
          margin-left: auto;
          margin-right: auto; }
          .features .features-container .even-height .feature-info-img .feature-info-data p {
            font-size: 1rem; }
            .features .features-container .even-height .feature-info-img .feature-info-data p:nth-child(odd) {
              font-size: 1.2rem;
              font-weight: bold; }
          .features .features-container .even-height .feature-info-img .cancer {
            top: 15rem; }
          .features .features-container .even-height .feature-info-img .organTransplant {
            top: 33.75rem; }
          .features .features-container .even-height .feature-info-img .dentistry {
            top: 27.5rem; }
          .features .features-container .even-height .feature-info-img .orthoped {
            top: 21.25rem; }
          .features .features-container .even-height .feature-info-img .cardiac {
            top: 21.25rem; }
          .features .features-container .even-height .feature-info-img .infer {
            top: 27.5rem; }
      .features .features-container .nested-grid1 {
        grid-template-rows: 18.75rem 37.5rem; }
      .features .features-container .nested-grid2 {
        grid-template-rows: 31.25rem 25rem; }
      .features .features-container .nested-grid3 {
        grid-template-rows: 25rem 31.25rem; }

  .services {
    margin: 0;
    text-align: left;
    padding: 3rem 7% 7%; }
    .services .services-container {
      justify-content: flex-start; }
      .services .services-container .service-container {
        font-size: 1.3rem;
        text-align: center;
        max-width: 15.62rem;
        width: 15%;
        height: 15.62rem; }
        .services .services-container .service-container img {
          position: relative;
          top: 2.19rem; }
        .services .services-container .service-container h4 {
          position: relative;
          top: 2.5rem; } }

/*# sourceMappingURL=index.css.map */
