@font-face {
  font-family: "nexa-light";
  src: url("../../assets/Nexa-Light.otf"); }
@font-face {
  font-family: "nexa-bold";
  src: url("../../assets/Nexa-Bold.otf"); }
.body {
  padding: 0;
  text-align: center;
  font-family: 'nexa'; }

h1 {
  font-size: 2rem;
  line-height: 2rem;
  font-family: 'nexa-bold';
  font-weight: bolder; }

h2 {
  font-size: 2rem;
  line-height: 2rem;
  font-family: "nexa-bold";
  font-weight: "bolder"; }

h3 {
  font-size: 1.5rem;
  font-family: 'nexa-bold'; }

p {
  font-size: 1.2rem;
  font-family: "nexa";
  line-height: 1.6rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem; }

button {
  border: 0;
  width: fit-content;
  padding: .5rem 1rem; }

input {
  border: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
  color: #757575;
  font-size: 1rem; }

::placeholder {
  color: grey;
  font-size: 1rem; }

.hidden {
  display: none; }

.show {
  display: block; }

.nav {
  margin: .625rem 2%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }
  .nav .logo-and-bar-container {
    display: grid;
    width: 100%;
    grid-template-columns: 90% 10%;
    justify-content: space-between;
    align-items: center; }
    .nav .logo-and-bar-container .logo-container {
      text-align: left;
      width: 50%; }
      .nav .logo-and-bar-container .logo-container .logo {
        width: 100%; }
    .nav .logo-and-bar-container .bars {
      height: 100%;
      max-height: 2rem;
      width: 100%;
      max-width: 2rem;
      padding: 1px 6px;
      background: none; }
    .nav .logo-and-bar-container .bars:hover {
      background: #94bedd; }
    .nav .logo-and-bar-container .fa-bars {
      font-size: 1.5rem;
      color: #525659;
      margin-right: 0; }
    .nav .logo-and-bar-container .fa-times {
      font-size: 1.5rem; }
  .nav .nav-open .nav-expanded {
    display: none; }
    .nav .nav-open .nav-expanded a {
      color: black;
      text-decoration: none; }
  .nav .nav-open .nav-btn-container {
    display: none; }
  .nav .display-nav {
    display: block;
    position: absolute;
    z-index: 2;
    font-size: 1.4rem;
    top: 4rem;
    margin: 0;
    width: 98%;
    background: #94bedd;
    text-align: left; }
    .nav .display-nav .nav-expanded {
      display: flex;
      align-items: flex-start;
      flex-direction: column; }
      .nav .display-nav .nav-expanded a {
        width: 90%;
        padding: 1.25rem 0 1.25rem 1rem;
        margin-left: 1rem; }
      .nav .display-nav .nav-expanded hr {
        margin: 0;
        width: 98%;
        border: 1px solid grey; }
    .nav .display-nav .nav-btn-container {
      display: flex;
      justify-content: flex-start;
      margin: 1.1rem 0 1.1rem 0; }
      .nav .display-nav .nav-btn-container .nav-button-white {
        border: solid 0.125rem #050a35;
        border-radius: .31rem;
        background: white;
        font-size: 1rem;
        margin: 0 .625rem;
        margin-left: 2rem;
        width: fit-content;
        height: 2.5rem;
        padding: 0 1.25rem; }
      .nav .display-nav .nav-btn-container .nav-button {
        color: white;
        width: fit-content;
        height: 2.5rem;
        font-size: 1rem;
        border-radius: .31rem;
        padding: 0 1.25rem;
        background: #050a35; }

.help {
  padding: 1rem;
  color: #021433;
  margin-top: 1.25rem;
  text-align: center;
  background-color: #8fcaf1; }
  .help h3 {
    color: white; }
  .help button {
    background-color: #0099ff;
    width: 15rem;
    font-size: 1.4rem;
    height: 4rem;
    color: white;
    border: 0;
    border-radius: .31rem; }

.footer {
  padding: 1rem;
  background-color: #021433; }
  .footer .footer-p {
    line-height: 1rem;
    color: #cccccc;
    font-size: 1.2rem; }
  .footer h3 {
    color: white; }
  .footer .logo {
    width: 8.75rem; }

.footer-tablet-end {
  display: none; }
  .footer-tablet-end .footer-end {
    color: #504e5b;
    font-size: 1rem; }

.footer-tablet {
  display: none; }

@media (min-width: 43.75rem) {
  .nav {
    margin: .625rem 2%; }
    .nav .logo-and-bar-container {
      grid-template-columns: 95% 5%; }
      .nav .logo-and-bar-container .logo-container .logo {
        width: 9.3rem;
        height: 3.1rem; }
    .nav .display-nav {
      top: 4.2rem; }

  .footer-mobile {
    display: none; }

  .footer-tablet {
    padding: 0 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap; }
    .footer-tablet .logo {
      width: 23%; }

  .footer-tablet-end {
    padding: 0 7%;
    margin-left: .625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap; } }
@media (min-width: 75rem) {
  body {
    text-align: left;
    font-family: nexa; }

  h1 {
    font-size: 3rem; }

  h2 {
    font-size: 3rem; }

  h3 {
    font-size: 2rem; }

  p {
    font-size: 1.3rem; }

  .desktop-view {
    display: block; }

  .mobile-view {
    display: none; }

  .nav {
    flex-direction: row;
    justify-content: space-between;
    margin: 1.25rem 0 1.25rem 7%; }
    .nav .logo-and-bar-container {
      width: 16%; }
      .nav .logo-and-bar-container .logo-container {
        width: 100%;
        max-width: 12.5rem; }
        .nav .logo-and-bar-container .logo-container .logo {
          width: 100%; }
    .nav .nav-open {
      width: 75%;
      display: flex;
      align-items: center; }
      .nav .nav-open .nav-expanded {
        display: flex;
        justify-content: space-between;
        font-size: 1.3rem;
        width: 50%; }
        .nav .nav-open .nav-expanded a {
          width: unset;
          padding: 0;
          margin-left: 0;
          margin-right: 1rem; }
        .nav .nav-open .nav-expanded hr {
          display: none; }
      .nav .nav-open .display-nav {
        position: unset;
        display: flex;
        width: unset;
        height: unset;
        background: unset;
        text-align: unset; }
        .nav .nav-open .display-nav a {
          margin: 1rem;
          font-size: 1.2rem;
          display: inline; }
      .nav .nav-open .nav-btn-container {
        display: flex;
        justify-content: flex-end;
        width: 45%; }
        .nav .nav-open .nav-btn-container .nav-button-white {
          border: solid 0.125rem #050a35;
          border-radius: .31rem;
          background: white;
          margin: 0 .625rem;
          width: fit-content;
          padding: 0 2rem;
          height: 3.4rem; }
        .nav .nav-open .nav-btn-container .nav-button {
          color: white;
          width: fit-content;
          height: 3.4rem;
          border-radius: .31rem;
          padding: 0 2rem;
          background: #050a35; }

  .help {
    margin: 0;
    text-align: left;
    padding: 3.75rem 6.25rem;
    color: #fffffe;
    background: #8fcaf1;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .help button {
      font-size: 1.5rem;
      height: 3.75rem;
      width: 15.6rem;
      background-color: #0099ff; }

  .footer-tablet {
    padding: 1.56rem 3rem 1.25rem 6.3rem;
    justify-content: space-between;
    font-size: 1.7rem; }
    .footer-tablet .logo {
      width: 13rem; }
    .footer-tablet a {
      font-size: 1.3rem; }
    .footer-tablet a:hover {
      cursor: pointer; }

  .footer-tablet-end {
    padding: 1.56rem 3rem 1.2rem 6.3rem;
    justify-content: space-between;
    font-size: 1.7rem;
    border-bottom: solid 0.3rem #0099ff; }
    .footer-tablet-end .footer-end {
      font-size: 1.3rem; } }

/*# sourceMappingURL=theme.css.map */
