@font-face {
  font-family: "nexa-light";
  src: url("../../assets/Nexa-Light.otf"); }
@font-face {
  font-family: "nexa-bold";
  src: url("../../assets/Nexa-Bold.otf"); }
.body {
  padding: 0;
  text-align: center;
  font-family: 'nexa-light'; }

h1 {
  font-size: 1.7rem;
  line-height: 2rem;
  font-family: 'nexa-bold'; }

h2 {
  font-size: 1.7rem;
  line-height: 2rem;
  font-family: "nexa-bold"; }

h3 {
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-family: 'nexa-bold'; }

h4 {
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-family: "nexa-bold"; }

p {
  font-size: .9rem;
  font-family: "nexa-light";
  line-height: 1.3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  letter-spacing: .05rem;
  font-weight: 600; }

ul, li, label {
  font-size: 1rem;
  font-family: "nexa-light";
  line-height: 1rem;
  margin: 0;
  padding: 0; }

button {
  border: 0;
  width: fit-content;
  padding: .5rem 1rem;
  margin: 0;
  font-family: "nexa-bold";
  letter-spacing: .05rem; }
  button:hover {
    cursor: pointer; }

input {
  border: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
  color: black;
  font-size: 1rem; }

::placeholder {
  color: #acacac;
  font-size: 1rem; }

a:hover {
  font-family: "nexa-bold"; }

.hidden {
  display: none; }

.show {
  display: block; }

.profile-button {
  background: none;
  margin-left: .5rem;
  padding: 0; }

.submit-error {
  padding: 1.2rem 1rem;
  width: fit-content;
  background: white;
  box-shadow: inset 0 0 3rem 0 red;
  font-size: 1.2rem;
  font-family: "nexa-bold";
  color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 1rem;
  top: 4rem;
  box-shadow: -.3rem 0 0 0 red;
  text-align: left;
  z-index: 4; }
  .submit-error h4 {
    line-height: unset; }
  .submit-error p {
    line-height: unset;
    margin: .5rem  0 0 0;
    margin-top: .5rem; }
  .submit-error i {
    font-size: 2rem; }
  @media (min-width: 375px) {
    .submit-error {
      left: .625rem;
      top: 4.5rem; } }
  @media (min-width: 425px) {
    .submit-error {
      top: 5rem; } }
  @media (min-width: 700px) {
    .submit-error {
      left: 2.8rem;
      top: 6rem; } }
  @media (min-width: 1000px) {
    .submit-error {
      font-size: 1.3rem;
      left: unset;
      top: 8rem;
      right: 1rem; } }

.submit-success {
  color: green;
  box-shadow: -.3rem 0 0 0 green; }

.box-shadow {
  box-shadow: 0 0 3px 0px red; }

.slots-container .slots-sub-container {
  padding: .5rem 1rem;
  background: #ebebeb;
  padding-bottom: .5rem;
  border-bottom: 2px solid #acacac; }
  .slots-container .slots-sub-container .time {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-family: 'nexa-light';
    justify-content: center;
    margin: 1rem 0; }
    .slots-container .slots-sub-container .time i {
      margin-right: .5rem;
      margin-top: -.3rem; }
  .slots-container .slots-sub-container .slots {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    justify-items: center;
    position: relative; }
    @media (min-width: 375px) {
      .slots-container .slots-sub-container .slots {
        grid-template-columns: 1fr 1fr 1fr; } }
    .slots-container .slots-sub-container .slots .slot {
      color: #077007;
      width: 5rem;
      height: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "nexa-light";
      font-weight: 600;
      border: 2px solid green; }
    .slots-container .slots-sub-container .slots button {
      width: fit-content;
      position: absolute;
      background: rgba(1, 80, 255, 0.15);
      color: #0173b2;
      font-family: "nexa-bold";
      border-radius: .8rem;
      padding: .4rem 1rem;
      font-size: 1.1rem; }
      @media (min-width: 700px) {
        .slots-container .slots-sub-container .slots button {
          padding: .6rem 1.3rem;
          font-size: 1.4rem; } }
.slots-container .last-slot-sub-container {
  border-bottom: none; }

.nav {
  background: white;
  padding: .625rem 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.51);
  position: relative;
  z-index: 2; }
  .nav .logo-and-bar-container {
    display: grid;
    width: 100%;
    grid-template-columns: 90% 10%;
    justify-content: space-between;
    align-items: center; }
    .nav .logo-and-bar-container .logo-container {
      text-align: left;
      width: 50%; }
      .nav .logo-and-bar-container .logo-container .logo {
        width: 100%; }
    .nav .logo-and-bar-container .fa-bars {
      font-size: 1.5rem;
      color: #727272;
      margin-right: 0; }
    .nav .logo-and-bar-container .bars {
      height: 100%;
      max-height: 2rem;
      width: 100%;
      max-width: 2rem;
      padding: 1px 6px;
      background: none; }
      .nav .logo-and-bar-container .bars:hover {
        background: #ebebeb; }
    .nav .logo-and-bar-container .fa-times {
      font-size: 1.5rem; }
  .nav .nav-open .nav-expanded {
    display: none; }
    .nav .nav-open .nav-expanded a {
      color: #2a2d3e;
      text-decoration: none; }
      .nav .nav-open .nav-expanded a:hover {
        font-weight: 600; }
  .nav .nav-open .nav-btn-container {
    display: none; }
  .nav .display-nav {
    display: block;
    position: absolute;
    z-index: 2;
    font-size: 1.4rem;
    top: 4rem;
    right: 0;
    height: 100vh;
    margin: 0;
    width: 70%;
    background: #ebebeb;
    text-align: left; }
    .nav .display-nav .nav-expanded {
      display: flex;
      align-items: flex-start;
      flex-direction: column; }
      .nav .display-nav .nav-expanded a {
        font-size: 1.1rem;
        width: 90%;
        padding: 1.25rem 0 1.25rem 0;
        margin-left: 1rem; }
      .nav .display-nav .nav-expanded hr {
        margin: 0;
        width: 98%;
        border: 1px solid grey; }
    .nav .display-nav .nav-btn-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin: 0 0 0 1rem; }
      .nav .display-nav .nav-btn-container .nav-button-white {
        border: solid 0.125rem #2a2d3e;
        border-radius: .31rem;
        background: white;
        font-size: 1rem;
        margin: 1rem 0;
        margin-left: 0;
        width: fit-content;
        padding: .5rem 1rem; }
      .nav .display-nav .nav-btn-container .nav-button {
        color: white;
        width: fit-content;
        font-size: 1rem;
        border-radius: .31rem;
        padding: .5rem 1.25rem;
        background: #2a2d3e; }
      .nav .display-nav .nav-btn-container .tvastra-plus {
        background: #0173b2;
        color: white;
        border: none; }
      .nav .display-nav .nav-btn-container .profile-button {
        display: flex;
        align-items: center; }
        .nav .display-nav .nav-btn-container .profile-button .img-container {
          border-radius: 100%;
          width: 3rem;
          height: 3rem;
          overflow: hidden; }
          .nav .display-nav .nav-btn-container .profile-button .img-container img {
            width: 100%;
            height: 100%; }
          .nav .display-nav .nav-btn-container .profile-button .img-container:hover {
            box-shadow: 0 0 1rem 0 #acacac; }
      .nav .display-nav .nav-btn-container .profile-open .img-section {
        height: 5rem;
        border-bottom: 1px solid #acacac;
        background: white;
        display: flex;
        align-items: center;
        padding-left: 1rem;
        width: 19rem; }
        .nav .display-nav .nav-btn-container .profile-open .img-section .img-container {
          width: 3.5rem;
          height: 3.5rem; }
          .nav .display-nav .nav-btn-container .profile-open .img-section .img-container img {
            width: 100%;
            height: 100%; }
        .nav .display-nav .nav-btn-container .profile-open .img-section .name-container {
          font-size: .9rem;
          font-family: "nexa-light";
          font-weight: 600;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          margin-left: 1rem; }
          .nav .display-nav .nav-btn-container .profile-open .img-section .name-container .number {
            display: inline-block;
            margin-top: .3rem;
            color: #0173b2;
            letter-spacing: .1rem; }
        .nav .display-nav .nav-btn-container .profile-open .img-section:hover {
          cursor: pointer !important; }
      .nav .display-nav .nav-btn-container .profile-open a {
        text-decoration: none; }
        .nav .display-nav .nav-btn-container .profile-open a .a-container {
          text-align: left;
          width: 18rem;
          background: white;
          padding: 1.3rem 1rem;
          font-size: 1.4rem;
          color: rgba(77, 77, 77, 0.9);
          font-family: "nexa-bold"; }
          .nav .display-nav .nav-btn-container .profile-open a .a-container:hover {
            box-shadow: inset 0.2rem 0 0 0 #0173b2;
            background: #ebebeb; }

.help {
  padding: 2rem 2.625rem;
  color: #2a2d3e;
  text-align: center;
  background-color: #7ab0d4; }
  .help h2 {
    color: white; }
  .help p {
    padding: 1rem .3rem;
    margin: 0; }
  .help button {
    background-color: #0173b2;
    padding: .8rem 1rem;
    width: fit-content;
    font-size: 1.2rem;
    color: white;
    border: 0;
    border-radius: .31rem; }

footer {
  background: #2a2d3e;
  font-size: 1.1rem;
  padding: 2rem 0 1rem 0;
  text-align: center; }
  footer .footer-tablet {
    display: flex;
    flex-direction: column-reverse; }
    footer .footer-tablet .logo {
      width: 10rem;
      margin: auto; }
    footer .footer-tablet .article-container {
      margin: 1rem 0;
      flex-direction: column; }
      footer .footer-tablet .article-container a {
        color: white;
        font-family: "nexa-light";
        text-decoration: none;
        line-height: 2.5rem;
        margin-top: 1rem; }
        footer .footer-tablet .article-container a:hover {
          font-family: "nexa-bold"; }
  footer .footer-tablet-end {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    color: white; }
    footer .footer-tablet-end .footer-end {
      color: #acacac; }
    footer .footer-tablet-end .fab {
      font-size: 1.6rem; }
    footer .footer-tablet-end div {
      margin-top: .1rem; }

@media (min-width: 700px) {
  .slots-container .slots-sub-container {
    background: #ebebeb;
    padding: 1rem 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: .3rem 0; } }
  @media (min-width: 700px) and (min-width: 1200px) {
    .slots-container .slots-sub-container {
      grid-template-columns: 1fr 4fr; } }
@media (min-width: 700px) {
    .slots-container .slots-sub-container .time {
      justify-content: flex-start;
      font-size: 1rem; } }
    @media (min-width: 700px) and (min-width: 800px) {
      .slots-container .slots-sub-container .time {
        margin-left: 1rem; } }
    @media (min-width: 700px) and (min-width: 1200px) {
      .slots-container .slots-sub-container .time {
        font-size: 1.2rem;
        margin-left: 1.5rem; } }
@media (min-width: 700px) {
    .slots-container .slots-sub-container .slots {
      grid-template-columns: 1fr 1fr 1fr;
      align-items: center;
      justify-self: stretch; } }
    @media (min-width: 700px) and (min-width: 800px) {
      .slots-container .slots-sub-container .slots {
        grid-template-columns: 1fr 1fr 1fr 1fr; } }
    @media (min-width: 700px) and (min-width: 1000px) {
      .slots-container .slots-sub-container .slots {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr; } }
    @media (min-width: 700px) and (min-width: 1400px) {
      .slots-container .slots-sub-container .slots {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; } }
    @media (min-width: 700px) and (min-width: 1600px) {
      .slots-container .slots-sub-container .slots {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; } }
@media (min-width: 700px) {
  .slots-container .last-slot-sub-container {
    margin-bottom: 0; }

  .nav {
    padding: .625rem 2.75rem; }
    .nav .logo-and-bar-container {
      grid-template-columns: 96% 4%; }
      .nav .logo-and-bar-container .logo-container .logo {
        width: 9.3rem;
        height: 3.1rem; }
    .nav .display-nav {
      top: 4.2rem;
      width: 40%; }

  .footer-mobile {
    display: none; }

  footer {
    background: white;
    font-size: 1rem;
    color: #2a2d3e;
    font-weight: 600;
    letter-spacing: .05rem; }
    footer .footer-tablet {
      padding: 0 1.875rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap; }
      footer .footer-tablet .article-container {
        flex-direction: row;
        width: 60%; }
        footer .footer-tablet .article-container a {
          color: #2a2d3e;
          line-height: 1.2rem; }
      footer .footer-tablet .logo-container {
        width: 23%; }
        footer .footer-tablet .logo-container a .logo {
          width: 100%;
          margin: unset; }
    footer .footer-tablet-end {
      padding: 0 1.875rem;
      margin-left: .625rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap; }
      footer .footer-tablet-end .footer-end {
        color: #2a2d3e; }
      footer .footer-tablet-end .fab {
        color: #2a2d3e;
        font-size: 1.2rem; }
      footer .footer-tablet-end div {
        margin-top: 0; } }
@media (min-width: 1200px) {
  body {
    text-align: left; }

  h1 {
    font-size: 3rem;
    line-height: 3.1rem; }

  h2 {
    font-size: 3rem;
    line-height: 3.1rem; }

  h3 {
    font-size: 2rem;
    line-height: 2.1rem; }

  h4 {
    font-size: 1.4rem;
    line-height: 2rem;
    font-family: "nexa-bold"; }

  p {
    font-size: 1rem;
    letter-spacing: .1rem;
    font-weight: 600; }

  ul, li, label {
    font-size: .9rem;
    letter-spacing: .05rem;
    font-weight: 600; }

  .desktop-view {
    display: block; }

  .mobile-view {
    display: none; }

  .nav {
    flex-direction: row;
    justify-content: space-between;
    padding: 1.25rem 0 1.25rem 7%; }
    .nav .logo-and-bar-container {
      width: 16%; }
      .nav .logo-and-bar-container .logo-container {
        width: 100%;
        max-width: 12.5rem; }
        .nav .logo-and-bar-container .logo-container .logo {
          width: 100%; }
    .nav .nav-open {
      width: 75%;
      display: flex;
      align-items: center; }
      .nav .nav-open .nav-expanded {
        display: flex;
        justify-content: space-between;
        font-size: 1.2rem;
        font-weight: 600;
        width: 50%; }
        .nav .nav-open .nav-expanded a {
          width: unset;
          color: #2a2d3e;
          font-family: "nexa-light";
          letter-spacing: 1px;
          padding: 0;
          margin-left: 0;
          margin-right: 1rem; }
          .nav .nav-open .nav-expanded a:hover {
            font-family: "nexa-bold"; }
        .nav .nav-open .nav-expanded hr {
          display: none; }
      .nav .nav-open .nav-btn-container {
        display: flex;
        justify-content: flex-end;
        width: 45%;
        margin-right: 0;
        position: relative; }
        .nav .nav-open .nav-btn-container .nav-button-white {
          border: solid 0.125rem #2a2d3e;
          border-radius: .31rem;
          background: white;
          margin: 0 .625rem;
          width: fit-content;
          padding: 1rem 2rem; }
        .nav .nav-open .nav-btn-container .nav-button {
          color: white;
          width: fit-content;
          border-radius: .31rem;
          padding: 1rem 2rem;
          background: #2a2d3e; }
          .nav .nav-open .nav-btn-container .nav-button:hover {
            transform: scale(1.01);
            box-shadow: 0 0 0.5rem 0 #2a2d3e;
            transition-duration: 200ms; }
        .nav .nav-open .nav-btn-container .tvastra-plus {
          background: #0173b2;
          color: white;
          border: none; }
          .nav .nav-open .nav-btn-container .tvastra-plus:hover {
            transform: scale(1.01);
            box-shadow: 0 0 0.5rem 0 #2a2d3e;
            transition-duration: 200ms; }
        .nav .nav-open .nav-btn-container .profile-button {
          display: flex;
          align-items: center; }
          .nav .nav-open .nav-btn-container .profile-button .img-container {
            border-radius: 100%;
            width: 3rem;
            height: 3rem;
            overflow: hidden; }
            .nav .nav-open .nav-btn-container .profile-button .img-container img {
              width: 100%;
              height: 100%; }
            .nav .nav-open .nav-btn-container .profile-button .img-container:hover {
              box-shadow: 0 0 0.8rem 0 #727272; }
        .nav .nav-open .nav-btn-container .profile-open {
          position: absolute;
          right: -.3rem;
          bottom: -26.25rem;
          z-index: 1;
          box-shadow: 0 0 0.5rem 0 #727272;
          display: none; }
          .nav .nav-open .nav-btn-container .profile-open .img-section {
            height: 5rem;
            border-bottom: 1px solid #acacac;
            background: white;
            display: flex;
            align-items: center;
            padding-left: 1rem; }
            .nav .nav-open .nav-btn-container .profile-open .img-section .img-container {
              width: 3.5rem;
              height: 3.5rem; }
              .nav .nav-open .nav-btn-container .profile-open .img-section .img-container img {
                width: 100%;
                height: 100%; }
            .nav .nav-open .nav-btn-container .profile-open .img-section .name-container {
              font-size: .9rem;
              font-family: "nexa-light";
              font-weight: 600;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: center;
              margin-left: 1rem; }
              .nav .nav-open .nav-btn-container .profile-open .img-section .name-container .number {
                display: inline-block;
                margin-top: .3rem;
                color: #0173b2;
                letter-spacing: .1rem; }
            .nav .nav-open .nav-btn-container .profile-open .img-section:hover {
              cursor: pointer; }
          .nav .nav-open .nav-btn-container .profile-open a {
            text-decoration: none; }
            .nav .nav-open .nav-btn-container .profile-open a .a-container {
              text-align: left;
              width: 18rem;
              background: white;
              padding: 1.3rem 1rem;
              font-size: 1.4rem;
              color: rgba(77, 77, 77, 0.9);
              font-family: "nexa-bold"; }
              .nav .nav-open .nav-btn-container .profile-open a .a-container:hover {
                box-shadow: inset 0.2rem 0 0 0 #0173b2;
                background: #ebebeb; }
        .nav .nav-open .nav-btn-container .active {
          display: block; }

  .help {
    margin: 0;
    text-align: left;
    padding: 5rem 7%;
    color: white;
    background: #7ab0d4;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .help button {
      font-size: 1.5rem;
      width: fit-content;
      background-color: #0173b2;
      padding: 1rem 2rem; }
    .help p {
      color: #2a2d3e; }

  footer {
    padding-bottom: 0;
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-weight: 600; }
    footer .footer-tablet {
      padding: 1.56rem 6.9% 1.25rem 6.9%;
      justify-content: space-between; }
      footer .footer-tablet .logo-container {
        width: 13rem; }
      footer .footer-tablet .article-container a:hover {
        cursor: pointer; }
    footer .footer-tablet-end {
      padding: 1.56rem 6.9% 3.5rem 6.9%;
      justify-content: space-between;
      font-size: 1rem;
      border-bottom: solid 0.5rem #0173b2; }
      footer .footer-tablet-end .fab {
        font-size: 1.6rem; }
      footer .footer-tablet-end .footer-end {
        margin: 0; } }
.pop-up {
  width: 100%;
  height: 105vh;
  position: fixed;
  top: -1rem;
  background: rgba(0, 0, 0, 0.7);
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center; }
  .pop-up .input-container {
    width: 22.5rem;
    padding: 1.2rem;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; }
    @media (min-width: 1000px) {
      .pop-up .input-container {
        width: 30.5rem;
        padding: 2rem; } }
    .pop-up .input-container input {
      border: 1px solid #ee6969;
      width: 21.5rem;
      padding-left: 1rem; }
      @media (min-width: 1000px) {
        .pop-up .input-container input {
          width: 29.5rem; } }
    .pop-up .input-container button {
      width: 100%;
      color: white;
      background: #2a2d3e;
      margin-top: .8rem; }
    .pop-up .input-container .remove-pop-up {
      color: black;
      background: #ebebeb;
      position: absolute;
      right: 0;
      top: 0;
      width: 1.1rem;
      height: 1.1rem;
      text-align: center;
      box-shadow: -0.1rem 0.1rem 0.5rem 0 #727272; }

.data-container::-webkit-scrollbar {
  width: .2rem; }

.data-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); }

@media (min-width: 1200px) {
  h1 {
    font-size: 2.5rem; } }

.data-container::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey; }

.inactive {
  display: none; }

input {
  box-shadow: inset 0 0 1rem 0 #ebebeb;
  letter-spacing: .05rem; }

.box-shadow {
  box-shadow: 0 0 3px 0px red; }

.filters-container {
  display: flex;
  overflow: hidden;
  height: 1.5rem;
  direction: rtl; }
  .filters-container li {
    background: #0173b2;
    color: white;
    display: flex;
    padding: .3rem .4rem;
    margin-left: .3rem;
    border-radius: .2rem;
    font-weight: 600;
    letter-spacing: .05rem;
    border-radius: .4rem;
    text-align: left;
    min-width: fit-content; }
    .filters-container li i {
      margin-left: .2rem; }

.suggestions {
  text-align: left;
  position: absolute;
  width: 100%;
  right: 0;
  top: 2.25rem;
  z-index: 1; }
  .suggestions li {
    padding: .3rem 0 .3rem .8rem;
    background: #7ab0d4;
    border: 1px solid #0173b2;
    color: white;
    font-weight: 600; }
    .suggestions li:hover {
      cursor: pointer; }

.error, .submit-error {
  padding: 1.2rem 1rem;
  width: fit-content;
  background: white;
  font-size: 1.2rem;
  font-family: "nexa-bold";
  color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 1rem;
  top: 4rem;
  box-shadow: -.3rem 0 0 0 red;
  text-align: left;
  z-index: 4; }
  .error h4, .submit-error h4 {
    line-height: unset; }
  .error p, .submit-error p {
    line-height: unset;
    margin: .5rem  0 0 0;
    margin-top: .5rem; }
  .error i, .submit-error i {
    font-size: 2rem; }
  @media (min-width: 375px) {
    .error, .submit-error {
      left: .625rem;
      top: 4.5rem; } }
  @media (min-width: 425px) {
    .error, .submit-error {
      top: 5rem; } }
  @media (min-width: 700px) {
    .error, .submit-error {
      left: 2.8rem;
      top: 6rem; } }
  @media (min-width: 1000px) {
    .error, .submit-error {
      font-size: 1.3rem;
      left: unset;
      top: 8rem;
      right: 1rem; } }

.body-container {
  padding: 1rem; }
  .body-container .dashboard-container {
    position: relative;
    margin: 1rem 0; }
    .body-container .dashboard-container .container {
      display: flex;
      justify-content: space-between; }
      .body-container .dashboard-container .container .active-menu {
        width: fit-content;
        background-color: #ebebeb;
        border: 1px solid #acacac;
        display: flex;
        align-items: center;
        border-radius: .1rem;
        padding: .3rem .5rem; }
        .body-container .dashboard-container .container .active-menu i {
          margin-left: .5rem; }
    .body-container .dashboard-container .menu-container {
      position: absolute;
      z-index: 1;
      right: 0;
      top: 2.2rem;
      background: #ebebeb;
      border: 1px solid #acacac; }
      .body-container .dashboard-container .menu-container a {
        text-decoration: none; }
        .body-container .dashboard-container .menu-container a .menu-item {
          display: block;
          background: transparent;
          border-bottom: 1px solid #acacac;
          width: 100%;
          text-align: left; }
          .body-container .dashboard-container .menu-container a .menu-item:last-child {
            border: 0; }
          .body-container .dashboard-container .menu-container a .menu-item:hover {
            color: #0173b2;
            border-left: 0.3rem solid #0173b2; }
        .body-container .dashboard-container .menu-container a .active-menu-item {
          color: #0173b2; }
          .body-container .dashboard-container .menu-container a .active-menu-item:hover {
            border: none; }
      .body-container .dashboard-container .menu-container i {
        margin-right: .8rem; }
    .body-container .dashboard-container .inactive {
      display: none; }
  .body-container .data-container {
    max-height: 80vh;
    overflow-y: scroll; }
    .body-container .data-container .header {
      margin: 1rem 0;
      display: flex;
      justify-content: space-between; }
      .body-container .data-container .header button {
        color: white;
        background: #0173b2;
        padding: .3rem .5rem;
        border-radius: .3rem;
        font-family: "nexa-bold"; }
        .body-container .data-container .header button:hover {
          transform: scale(1.01);
          transition-timing-function: ease-out;
          box-shadow: 0 0 0.8rem 0 #2a2d3e;
          transition-duration: 150ms; }
    .body-container .data-container .info-container {
      border-top: solid 1px #acacac;
      display: flex;
      flex-wrap: wrap;
      padding: 1rem 0; }
      .body-container .data-container .info-container:last-child {
        border-bottom: solid 1px #acacac; }
      .body-container .data-container .info-container .img-container label {
        font-weight: 600;
        font-size: .9rem;
        letter-spacing: .05rem; }
      .body-container .data-container .info-container .img-container .img {
        display: flex;
        align-items: center; }
        .body-container .data-container .info-container .img-container .img img {
          width: 4rem;
          height: 4rem;
          border-radius: 100%; }
        .body-container .data-container .info-container .img-container .img .profile-input {
          margin-left: 1rem;
          position: relative; }
          .body-container .data-container .info-container .img-container .img .profile-input p {
            margin-bottom: .0rem; }
          .body-container .data-container .info-container .img-container .img .profile-input input {
            width: 5.8rem;
            z-index: 1;
            position: relative;
            opacity: 0; }
          .body-container .data-container .info-container .img-container .img .profile-input button {
            background: transparent;
            position: absolute;
            color: rgba(122, 176, 212, 0.8);
            font-weight: 800;
            left: -1rem;
            bottom: .1rem; }
      .body-container .data-container .info-container .input-container {
        width: 100%;
        max-width: 24.2rem; }
        .body-container .data-container .info-container .input-container label {
          display: inline-block;
          margin: 1rem 0 .5rem 0; }
        .body-container .data-container .info-container .input-container .first-label {
          margin-top: 0; }
        .body-container .data-container .info-container .input-container .phone-label-and-button-container {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: .5rem; }
          .body-container .data-container .info-container .input-container .phone-label-and-button-container label {
            margin-bottom: 0; }
          .body-container .data-container .info-container .input-container .phone-label-and-button-container button {
            background: none;
            color: #7ab0d4;
            padding: 0;
            padding-right: .3rem; }
        .body-container .data-container .info-container .input-container input {
          border: 1px solid #acacac;
          width: 97%;
          padding-left: .5rem; }
          @media (min-width: 425px) {
            .body-container .data-container .info-container .input-container input {
              width: 99%; } }
        .body-container .data-container .info-container .input-container .doctor-input {
          display: flex;
          align-items: center;
          box-shadow: inset 0 0 1rem 0 #ebebeb;
          border: 1px solid #acacac;
          position: relative; }
          .body-container .data-container .info-container .input-container .doctor-input .filters-container {
            max-width: 70%; }
          .body-container .data-container .info-container .input-container .doctor-input input {
            border: 0;
            width: 5rem; }
        .body-container .data-container .info-container .input-container .box-shadow {
          box-shadow: 0 0 3px 0px red; }

@media (min-width: 700px) {
  .body-container {
    padding: 0 2.75rem; }
    .body-container .data-container .info-container {
      padding-top: 0;
      justify-content: space-between; } }
    @media (min-width: 700px) and (min-width: 1000px) {
      .body-container .data-container .info-container {
        display: grid;
        grid-template-columns: 18rem 18rem 18rem;
        grid-column-gap: 1rem; } }
@media (min-width: 700px) {
      .body-container .data-container .info-container .img-container {
        margin-top: 1rem; }
      .body-container .data-container .info-container .input-container {
        width: 20rem; } }
      @media (min-width: 700px) and (min-width: 850px) {
        .body-container .data-container .info-container .input-container {
          width: 24rem; } }
      @media (min-width: 700px) and (min-width: 1000px) {
        .body-container .data-container .info-container .input-container {
          width: 100%; } }
@media (min-width: 700px) {
        .body-container .data-container .info-container .input-container label {
          margin-top: 1.15rem; }
        .body-container .data-container .info-container .input-container label[for="location"] {
          margin-top: .15rem; }
        .body-container .data-container .info-container .input-container .first-label {
          margin-top: 1.15rem; }
        .body-container .data-container .info-container .input-container .phone-label-and-button-container button {
          margin-top: 1rem; }
    .body-container .data-container .profile-img-info {
      justify-content: flex-start; }
      .body-container .data-container .profile-img-info .input-container {
        margin-left: 1rem; } }
@media (min-width: 1200px) {
  .body-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 1rem;
    padding: 2rem 7%; }
    .body-container h2 {
      font-size: 2rem; }
    .body-container .dashboard-container .container .active-menu {
      display: none; }
    .body-container .dashboard-container .menu-container {
      background: none;
      position: relative;
      top: 0;
      border: 0;
      margin-top: 1rem; }
      .body-container .dashboard-container .menu-container a .menu-item {
        margin-bottom: 1rem;
        border: 0;
        font-size: 1.3rem;
        font-family: "nexa-bold";
        padding: .5rem 0; } }
      @media (min-width: 1200px) and (min-width: 1500px) {
        .body-container .dashboard-container .menu-container a .menu-item {
          font-size: 1.5rem; } }
@media (min-width: 1200px) {
        .body-container .dashboard-container .menu-container a .menu-item:hover {
          color: #0173b2;
          padding-left: .4rem; }
      .body-container .dashboard-container .menu-container a .active-menu-item:hover {
        padding-left: 0; }
    .body-container .dashboard-container .inactive {
      display: block; }
    .body-container .data-container .header button {
      padding: .3rem .5rem;
      height: 2.2rem; }
    .body-container .data-container .info-container {
      display: grid;
      grid-template-columns: 15rem  15rem 15rem;
      grid-column-gap: 1.5rem;
      padding: 1rem 0 2rem 0;
      justify-content: unset; } }
    @media (min-width: 1200px) and (min-width: 1300px) {
      .body-container .data-container .info-container {
        grid-template-columns: 16rem 16rem 16rem; } }
    @media (min-width: 1200px) and (min-width: 1400px) {
      .body-container .data-container .info-container {
        grid-template-columns: 17rem 17rem 17rem;
        grid-column-gap: 3rem; } }
    @media (min-width: 1200px) and (min-width: 1500px) {
      .body-container .data-container .info-container {
        grid-template-columns: 18rem 18rem 18rem; } }
    @media (min-width: 1200px) and (min-width: 1600px) {
      .body-container .data-container .info-container {
        grid-template-columns: 19rem 19rem 19rem; } }
    @media (min-width: 1200px) and (min-width: 1700px) {
      .body-container .data-container .info-container {
        grid-template-columns: 20rem 20rem 20rem; } }
    @media (min-width: 1200px) and (min-width: 1800px) {
      .body-container .data-container .info-container {
        grid-template-columns: 22rem 22rem 22rem; } }
    @media (min-width: 1200px) and (min-width: 1900px) {
      .body-container .data-container .info-container {
        grid-template-columns: 23rem 23rem 23rem; } }
@media (min-width: 1200px) {
    .body-container .data-container .profile-img-info {
      display: grid;
      grid-template-columns: 22rem 22rem; }
      .body-container .data-container .profile-img-info .input-container {
        margin-left: 0; } }

/*# sourceMappingURL=userProfile.css.map */
