@font-face {
	font-family: "nexa-light";
	src: url("../../assets/Nexa-Light.otf");
}
@font-face {
	font-family: "nexa-bold";
	src: url("../../assets/Nexa-Bold.otf");
}

//theming...........
$darkBlue:rgb(42, 45, 62);
$blue:rgb(1, 115, 178);
$lightBlue:rgb(122, 176, 212);
$opaqueBlue:rgba(122, 176, 212,.8);
$darkGrey:rgb(114, 114, 114);
$grey:rgb(172, 172, 172);
$lightGrey:rgb(235, 235, 235);
$black:rgb(0,0,0);
$white:rgb(255,255,255);
h1 {
	font-size:1.7rem;
	line-height: 3rem;
    font-family: 'nexa-light';
    font-weight: 800;
}
h2 {
	font-size: 1.7rem;
    line-height: 2rem;
    letter-spacing: 0;
	font-family: "nexa-bold";
}
h3{
	font-size:1.3rem;
    line-height: 1.6rem;
    letter-spacing: 0;
	font-family:'nexa-bold';
}
h4{
	font-size:1.2rem;
	line-height:1.6rem;
	font-family: "nexa-bold";
}
p{
	font-size: .9rem;
	font-family: "nexa-light";
	line-height: 1.3rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	letter-spacing: .05rem;
	font-weight: 600;
}
button {
	border: 0;
	width:fit-content;
    padding:.5rem 1rem;
    background: none;
	margin:0;
	&:hover{
		cursor: pointer;
	}
}
input {
	border: 0;
	padding-top:.5rem;
	padding-bottom: .5rem;
	color:black;
    font-size:1rem;
    font-family:'nexa-light';
    font-weight: 600;
}
::placeholder{
    color:grey;
    font-family: 'nexa-light';
    font-weight: 600;
	font-size: 1rem;
}
a{
	&:hover{
		font-family: "nexa-bold";
	}
}
.hidden {
	display: none;
}
.show {
	display: block;
}
sup{
    vertical-align: super;
    font-size: smaller;
}

.login-success{
    padding:1.2rem 1rem;
    width:fit-content;
    background: rgb(238, 238, 238);
    font-size:1.2rem;
    font-family: "nexa-bold";
    color:green;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 1rem;
    top:4rem;
    box-shadow: -.3rem 0 0 0 green;
    text-align: left;
    h4{
        line-height:unset;
    }
    p{
        line-height:unset;
        margin:.5rem  0 0 0;
        margin-top:.5rem;
    }
    i{
        font-size:2rem;
    }
    @media (min-width:375px){
        left:.625rem;
        top:4.5rem;
    }
    @media (min-width:425px){
        top:5rem;
    }
    @media (min-width:700px){
        left:2.8rem;
        top:6rem;
    }
    @media (min-width:1000px){
        font-size: 1.3rem;
        left:unset;
        top:8rem;
        right:1rem;
    }
}


.body-container{
    font-family: "nexa-light";
    font-weight: 600;
    letter-spacing: .1rem;
    .menu-container{
        display: none;
        width:10rem;
        padding:0 3rem;
        box-shadow: .1rem .5rem .3rem 0 rgb(216, 216, 216);
        position: fixed;
        bottom:0;
        top:0;
        .icon-and-name-container{
            display: flex;
            align-items: center;
            .icon{
                width: 2.5rem;
                height:2.5rem;
                background: dodgerblue;
                border-radius: 100%;
                display:flex;
                align-items: center;
                justify-content: center;
                i{
                    font-size:1rem;
                    color:rgb(170, 0, 0);
                }
            }
            h1{
                display: inline-block;
                margin:1rem 0;
            }
        }
        .button-container{
            margin-top: 1rem;
            .menu-button{
                width:100%;
                font-size:1rem;
                letter-spacing: .05rem;
                padding-left:0;
                text-align: left;
                font-family: "nexa-bold";
                margin:1rem 0;
                a{
                    color:inherit;
                    text-decoration: none;
                    display: flex;
                    i{
                        margin-right:1rem;
                        color:gray;
                        font-size: 1.1rem;
                    }
                }
            }
        }
        .add-patients{
            background:rgb(16, 129, 243);
            color:white;
            font-family:'nexa-bold';
            border-radius: 1rem;
            // padding-top:1rem;
            // padding-bottom: 1rem;
            width:100%;
            margin-top:2rem;
            i{
                font-size:1.1rem;
                margin-right:.3rem;
            }
        }
    }
    .main-container{
        .navbar{
            display:flex;
            position:fixed;
            top:0;
            left:0;
            right:0;
            z-index: 1;
            align-items: center;
            justify-content: space-between;
            padding:0 1rem;
            height:4rem;
            background: white;
            .icon-and-name-container{
                display:none;
            }
            .search-bar{
                display:none;
                overflow: hidden;
                border-radius: 1.5rem;
                position: relative;
                input{
                    background: rgb(238, 238, 238);
                    width:100%;
                    padding:1rem;
                    font-size:.8rem;
                    &::placeholder{
                        font-size:.8rem;
                    }   
                }
                &:hover{
                    box-shadow:0px 3px .9rem 0px rgba(0,0,0,0.2);
                }
                .fa-search{
                    position:absolute;
                    top:.75rem;
                    right:.7rem;
                    color:rgb(175, 175, 175);
                }
            }
            .bars{
                padding:0;
                font-size:2.5rem;
            }
            .notification-and-profile-container{
                display: flex;
                align-items: center;
                justify-content: center;
                .notification-container{
                    position:relative;
                    i{
                        font-size:1.6rem;
                        color:grey;
                        transform: rotate(30deg);
                    }
                    .no-of-notification{
                        background: rgb(199, 0, 0);
                        font-size:.7rem;
                        font-weight: 600;
                        border-radius: 100%;
                        color:white;
                        display:flex;
                        align-items: flex-end;;
                        justify-content:center;
                        width:.9rem;
                        height:.9rem;
                        position: absolute;
                        top:-.1rem;
                        right:0rem;
                        box-shadow: 0 0 0 2px white;
                    }
                }
                .profile{
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    .img-container{
                        height:2.5rem;
                        width:2.5rem;
                        margin:0 .2rem 0 1rem;
                        border-radius: 100%;
                        overflow: hidden;
                        img{
                            height:2.5rem;
                            width:2.5rem;
                        }
                    }
                    i{
                        font-size: 1rem;
                    }
                }
                .profile-open{
					position: absolute;
					right:-.3rem;
					top:3rem;
					z-index: 1;
					box-shadow:0 0 .5rem 0 rgba(0, 0, 0,.5);
                    display:none;
                    border-radius: .3rem;
                    overflow: hidden;
                    width:16rem;
					.img-section{
						height:4rem;
						background:$white;
						display:flex;
						align-items: center;
                        padding-left:1rem;
                        width:16rem;
                        &:first-child{
                            border-bottom: 1px solid $lightGrey;
                        }
						.img-container{
							width:3.5rem;
                            height:3.5rem;
                            border-radius: 100%;
                            overflow: hidden;
							img{
								width: 100%;
								height:100%;
							}
                        }
                        .icon-container{
                            color:rgb(43, 43, 43);
                            width: 3.5rem;height:3.5rem;
                            border-radius: 100%;
                            display:flex;
                            justify-content: center;
                            align-items: center;
                            background: $grey;
                        }
						.name-container{
							font-size:.9rem;
							font-family:"nexa-light";
							font-weight: 600;
							display: flex;
							flex-direction: column;
							align-items: flex-start;
							justify-content: center;
							margin-left:1rem;
							.number{
								display:inline-block;
								margin-top:.3rem;
								color:$blue;
								letter-spacing: .1rem;
							}
						}
						&:hover{
							&:hover{
                                cursor: pointer;
								box-shadow: inset .2rem 0 0 0 $blue;
								background:$lightGrey;
							}
						}
					}
					a{
						text-decoration: none;
						.a-container{
							text-align: left;
							background:$white;
							padding:1.3rem 1rem;
							font-size:1rem;
							color:rgba(54, 54, 54, 0.9);
                            font-family: "nexa-light";
                            font-weight: 600;
							&:hover{
								box-shadow: inset .2rem 0 0 0 $blue;
								background:$lightGrey;
							}
						}
					}
				}
				.active{
					display:block;
				}
            }
        }
        .doctor-container{
            margin:4rem 0;
            padding:1rem;
            .doctor-cards{
                position:relative;
                margin-top:2rem;
                @media (max-width:400px){
                    height:70vh;
                }
                @media (max-width:700px){
                    height:50vh;
                }
            }
        }
        .footer-container{
            box-shadow: 0 -.05rem .2rem 0 rgb(211, 211, 211);
                position:fixed;
                bottom:0;
                left:0;
                right:0;
                background: white;
            footer{
                display:flex;
                justify-content: center;
                align-items: center;
                height:4rem;
                padding:0 1rem;
                .page-details{
                    display: none;
                    font-size:.9rem;
                }
                .settings{
                    font-size:.9rem;
                    i{
                        color:rgb(16, 129, 243);
                        font-size:1.5rem;
                    }
                }
            }
        }
    }
}
@media (min-width:750px){
    h1 {
        font-size: 1.7rem;
        line-height: 3rem;
        font-family: 'nexa-light';
        font-weight: 800;
    }
    h2 {
        font-size: 2.7rem;
        line-height: 2rem;
        font-family: "nexa-bold";
    }
    h3{
        font-size:1.5rem;
        letter-spacing: 0;
    }
   .body-container{
        .main-container{
            .navbar{
                 .search-and-bar-container{
                     display:flex;
                     align-items: center;
                     .search-bar{
                         display:block;
                         margin-left: 1rem;
                         input{
                             height: 2.5rem;
                             padding:0;
                             padding-left:1rem;
                             width:22rem;
                         }
                     }
                 }
            }
            .doctor-container{
                h2{
                    margin-top:.5rem;
                }
                 .doctor-cards{
                     display:grid;
                     grid-template-columns: 1fr 1fr 1fr;
                     grid-column-gap: 1.5rem;
                     grid-row-gap: 1.5rem;
                     .card{
                         max-width:unset;
                         margin:0;
                         .img-container{
                             height:15rem;
                         }
                         .info-container{
                             padding: 1rem ;
                             .address{
                                 font-size:.7rem;
                             }
                         }
                     }
                }  
            }
            .footer-container{
                footer{
                    justify-content: space-between;
                    .page-details{
                        display:unset;
                        span{
                            color:gray;
                        }
                    }
                    .settings{
                        display: flex;
                        align-items: center;
                        .fa-cogs{
                            margin-left:.5rem;
                        }
                    }
                }
            }
        }
   }
}
@media (min-width:1000px){
    .body-container{
        // display:grid;
        // grid-template-columns: auto auto;
        // grid-column-gap: 2rem;
        .menu-container{
            display:block;
            background:white;
        }
        .main-container{
            margin-left:18rem;
            .navbar{
                left:18rem;
                max-width:1200px;
                margin:auto;
                .search-and-bar-container{
                    .bars{
                        display:none;
                    }
                    .search-bar{
                        margin:0;
                        
                    }
                }
            }
            .doctor-container{
                max-width:1200px;
                margin-left: auto;
                margin-right:auto;
                .doctor-cards{
                    .card{
                        .img-container{
                            height:25rem;
                        }
                    }
                }
            }
            .footer-container{
                position:fixed;
                bottom:0;
                right:0;
                left:16.1rem;
                footer{
                    position: unset;
                    padding-left:3rem;
                    max-width:1200px;
                    max-width:1200px;
                    margin:auto;
                    padding-right:1rem;
                }
            }
        }
    }
    .version-101{
        .main-container{
            .navbar{
                max-width:unset;
            }
            .doctor-container{
                max-width:unset;
                .doctor-cards{
                    margin-left:3rem;
                    justify-items: center;
                    .card{
                        max-width:25rem;
                    }
                }
            }
            .footer-container{
                footer{
                    max-width:unset;
                    position: unset;
                    margin-left:3rem;
                    padding-left:0;
                }
            }
        }
    }
    .version-102{
        .menu-container{
            top:3.9rem;
            bottom:unset;
            left:0;
            right:0;
            max-width:1200px;
            margin:auto;
            width: unset;
            padding:0;
            box-shadow: unset;
            .icon-and-name-container{
                display:none;
            }
            .button-container{
                display:flex;
                justify-content: space-between;
            }
            .add-patients{
                display:none;
            }
        }
        .main-container{
            margin-left:0;
            .navbar{
                left:0;
                .icon-and-name-container{
                    display: flex;
                    align-items: center;
                    margin-right:1rem;
                    .icon{
                        width: 2.5rem;
                        height:2.5rem;
                        background: dodgerblue;
                        border-radius: 100%;
                        display:flex;
                        align-items: center;
                        justify-content: center;
                        i{
                            font-size:1rem;
                            color:red;
                        }
                    }
                    h1{
                        display: inline-block;
                        margin:1rem 0;
                    }
                }
            }
            .doctor-container{
                margin-top:8rem;
            }
            .footer-container{
                left:0;
                footer{
                    margin:auto;
                    padding: 0;
                }
            }
        }
    }
    .version-101-102{
        .menu-container{
            max-width:unset;
            padding:0 1rem;
            .button-container{
                justify-content: flex-start;
                .menu-button{
                    width:unset;
                    margin-right:3rem;
                }
            }
        }
        .footer-container{
            padding: 0 1rem;
        }
    }
}
.body-container{
    .main-container{
        .doctor-container{
            h2{
                margin-top: .5rem;
            }
            .doctor-cards{
                margin-top:1.5rem;
                .card{
                    margin-top:1rem;
                    .img-container{
                        height:15rem;
                       img{
                        border-radius: 1rem 1rem 0 0;
                        width: 100%;;
                       }
                    }
                    .info-container{
                        text-align:left;
                        box-shadow:inset  -100px -100px 115px -70px #c7c7c7;
                        border-radius:-0 0 1rem 1rem;
                        padding: 1rem 1rem 0 1rem;
                        .team-container{
                            display: flex;
                            align-items: baseline;
                            margin:1.5rem 0;
                            .team-member-container{
                                margin-left:.3rem;
                                display:flex;
                                flex-wrap: wrap;
                                .team-member{
                                    width: 2rem;
                                    height: 2rem;
                                    border-radius: 100%;
                                    overflow: hidden;
                                    position: relative;
                                    right:1rem;
                                    &:first-child{
                                        right:0;
                                    }
                                    img{
                                        width: 100%;
                                        height:100%;
                                    }
                                }
                                .add-button{
                                    // font-size:1.2rem;
                                    // text-align: center;
                                    button{
                                        display: flex;
                                        justify-content: center;
                                        color:white;
                                        font-size:1.2rem;
                                        width: 100%;
                                        height:100%;
                                        padding:0;
                                        background: rgb(16, 129, 243);
                                    }
                                }
                            }
                        }
                        .address{
                            color:rgb(0, 0, 0);
                            letter-spacing: .1rem;
                            margin-top:1rem;
                            font-size:.8rem;
                            line-height: 1.2rem;
                            font-weight: 600;
                        }
                        .view-profile-button{
                            button{
                                margin: 1.5rem 0;
                                background:white;
                                color:rgb(16, 129, 243);
                                border:1px solid rgb(16, 129, 243);
                                padding-top:.5rem;
                                padding-bottom: .5rem;
                                font-size: 1.2rem;
                                i{
                                    margin-left:.4rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}