@import "theme";
.find-section {
	padding: 2.8rem .625rem;
	background: $lightBlue;
	color: $darkBlue;
	h1{
		padding:0 1rem;
	}
	p{
		padding:0 1rem;
	}
	.search-healthcare-form{
		padding:0 1rem; 
	}
	.location {
		height: 3rem;
		display: flex;
		align-items: center;
		.fa-map-marker-alt {
			font-size: 1rem;
		}
		input {
			height: 100%;
			border: solid 1px $lightGrey;
			flex-grow: 1;
			margin: 0;
			padding: 0;
			border: 0;
		}
		.location-img {
			height: 1.25rem;
			width: 1.25rem;
		}
		div {
			width: 3rem;
			height: 100%;
			background: $white;
		}
	}
	.search {
		width: 95%;
		height: 3rem;
		background: $white;
		padding: 0 0 0 1rem;
		margin: .625rem 0;
	}
	button {
		background: $darkBlue;
		color: $white;
		margin: 1rem 0 0 0;
		border: 0;
		width: fit-content;
		padding:.8rem 3rem;
	}
}
.how-it-works {
	margin:3rem 0;
	padding:0 1.625rem;
	.facility-container {
		display: grid;
		grid-template-columns: auto;
		.facility-info-container {
			.facility-box {
				text-align: left;
				display: flex;
				max-width: 25rem;
				align-items: center;
				border: solid .125rem $lightGrey;
				margin: .625rem auto;
				border-radius: .625rem;
				p {
					display: inline-block;
					margin: 1rem 0 .75rem;
					line-height: 2.4rem;
					padding: 0 0 0 .625rem;
					font-size: 1.5rem;
					font-family:"nexa-bold";
					color: $grey;
				}
				&:hover{
					border:solid .19rem $lightBlue;
				}
            }
            .highlight{
				border:solid .19rem $blue;
				.facility-number{
					color:rgba(48, 164, 231, 0.5);
				}
				p{
					color:$black;
				}
            }
		}
		.facility-img {
			width: 100%;
		}
	}
}
.intro-to-doctors {
	color: $white;
	background: $darkBlue;
	padding: 2rem 1.625rem 1rem 1.625rem;
	.doctor-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		.doctors {
			background: $white;
			margin: 1rem 0rem;
			box-shadow: 0 .29rem $lightBlue;
			max-height: 35rem;
			.img-container{
				max-height: 25rem;
				width:100%;
				overflow: hidden;
				.doctor-img {
					width: 100%;
					height: object-fit;
				}
			}
			.doctor-info {
				padding: 0 0 .8rem 1.5rem;
				margin: 0;
				color: $black;
				text-align: left;
				h3{
					margin-top:.8rem;
					position: relative;
					right:1.4rem;
					line-height: 1.5rem;
					color:$blue;
					span{
						position: relative;
						bottom: .5rem;
					}
					&::before{
						content:"\00a0\00a0\00a0\00a0\00a0";
						text-decoration: line-through;
						position: relative;
						bottom:3px;
					}
				}
				p {
					margin: 0;
					font-size:.9rem;
				}
			}
		}
	}
}
.circles-container {
	display: flex;
	align-items: center;
	margin: 1.5rem 0 0 1rem;
	display: none;
}
.circles {
	height: .62rem;
	width: .625rem;
	margin: 0 .31rem;
	background: $grey;
	border-radius: 100%;
}
.circle-highlighted {
	background: $darkBlue;
	height: .75rem;
	width: .75rem;
	border: solid .19rem $blue;
}
.features {
	margin: 2rem 0;
	padding: 0 1.625rem;
	.features-container {
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: auto auto auto;
		grid-row-gap: 1.25rem;
		width: 100%;
		justify-content: center;
		align-items: center;
		.even-height {
			display: grid;
			grid-template-columns: 100%;
			grid-template-rows: 22rem 22rem;
			grid-row-gap: 1.25rem;
			justify-content: center;
			.feature-info-img {
				width: 100%;
				height: 22rem;
				text-align: left;
				margin-left: auto;
				margin-right: auto;
				.feature-info-data {
					position: relative;
					color: $white;
					top: 18.2rem;
					padding-left: 1.25rem;
					p {
						font-size:.8rem;
						margin: 0;
						&:first-child{
							letter-spacing: .1rem;
							font-size: 1rem;
							font-weight: 600;
						}
					}
				}
			}
			.feature-info-img-cancer {
				background: linear-gradient(to bottom,rgba(255, 255, 255,0),rgba(255, 255, 255,0),rgba(0,0,0,.1),rgba(0,0,0,.4),rgba(0,0,0,1)), url('https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--010.jpg');
				background-size: 100% 100%;
			}
			.feature-info-img-cardiac {
				background: linear-gradient(to bottom,rgba(255, 255, 255,0),rgba(255, 255, 255,0),rgba(0,0,0,.1),rgba(0,0,0,.4),rgba(0,0,0,1)), url('https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg');
				background-size: 100% 100%;
			}
			.feature-info-img-organTransplant {
				background: linear-gradient(to bottom,rgba(255, 255, 255,0),rgba(255, 255, 255,0),rgba(0,0,0,.1),rgba(0,0,0,.4),rgba(0,0,0,1)),url('https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--006.jpg');
				background-size: 100% 100%;
			}
			.feature-info-img-infer {
				background: linear-gradient(to bottom,rgba(255, 255, 255,0),rgba(255, 255, 255,0),rgba(0,0,0,.1),rgba(0,0,0,.4),rgba(0,0,0,1)), url('https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--000.jpg');
				background-size: 100% 100%;
			}
			.feature-info-img-orthoped {
				background: linear-gradient(to bottom,rgba(255, 255, 255,0),rgba(255, 255, 255,0),rgba(0,0,0,.1),rgba(0,0,0,.4),rgba(0,0,0,1)), url('https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--008.jpg');
				background-size: 100% 100%;
			}
			.feature-info-img-dentist {
				background: linear-gradient(to bottom,rgba(255, 255, 255,0),rgba(255, 255, 255,0),rgba(0,0,0,.1),rgba(0,0,0,.4),rgba(0,0,0,1)), url('https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--009.jpg');
				background-size: 100% 100%;
			}
		}
	}
}
.services {
	background: $lightGrey;
	padding: 2rem 1.625rem 2rem;
	.services-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		.service-container {
			background-color: $white;
			border-radius: .625rem;
			margin: .31rem .31rem;
			width: 46.9%;
			height: 9.3rem;
			color: $darkGrey;
			img{
				position: relative;
				top:.5rem;
			}
			h4 {
				margin-top: .5rem;
				font-family: "nexa-bold";
			}
		}
	}
}

.desktop-view {
	display: none;
}
@media (max-width:500px){
	.nav{
		.logo-and-bar-container{
			.logo-container{
				margin-left:.7rem;
			}
		}
	}
}
@media (min-width:700px) {
	.tablet-view {
		display: block;
	}
	.mobile-view {
		display: none;
	}
	.mobile-cum-tablet-view {
		display: block;
	}
	.nav{
		padding:.625rem 1.25rem;
	}
	.find-section {
		padding: 2rem 1.6rem;
		background: url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img1.jpg");
		background-size: cover;
		h1 {
			padding:0;
		}
		p {
			display: inline-block;
			padding:0;
			margin-top:1.3rem;
		}
		.search-healthcare-form {
			padding:0;
			margin-top: 0.5rem;
			height: 3rem;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			.location {
				height: 100%;
				width: 35%;
				border-right: solid .125rem $lightGrey;
			}
		}
		.search {
			height: 100%;
			padding: 0 0 0 1.25rem;
			width: 50%;
		}
		button {
			font-size: 1.1rem;
			color: $white;
			height: 3rem;
			width: 18%;
			margin: auto;
			padding:0;
			&:hover{
				transition: ease-in;
				font-size:1.2rem;
			}
		}
	}
	.how-it-works {
		margin: 2rem 0;
		.facility-container {
			grid-template-columns: 50% 50%;
            align-items: center;
            .facility-img-section{
				 margin-left: 1rem;
                .facility-img {
                    width: 90%;
                    height: 20rem;
                }
                h3{
                    margin-top: 1rem;
                }
                p{
                    padding: 0 2rem;
                }
            }
		}
	}
	.intro-to-doctors{
		.doctor-container{
			.doctors{
				height:30rem;
				width:47%;
				&:nth-child(even){
					margin-left:1.9rem;
				}
				.img-container{
					max-height: 22rem;
				}
			}
		}
	}
	.features {
		.features-container {
			.even-height {
				grid-template-columns: 48% 48%;
				grid-template-rows: 22rem;
				grid-column-gap: 1.25rem;
			}
		}
	}
	.services {
		padding-bottom:1.3rem;
		.services-container{
			.service-container{
				margin:.7rem 0;	
				width: 31%;
			}
		}
	}
}
@media (min-width:1000px) {
	.filters {
		max-width: 31.25rem;
	}
	.intro-to-doctors{
		.doctor-container{
			.doctors{
				height:30rem;
				width:47%;
				&:nth-child(even){
					margin-left:1.9rem;
				}
				.img-container{
					max-height: 20rem;
					width: 100%;
					.doctor-img{
						width:100%;
						height: 30rem;
					}
				}
			}
		}
	}
}
@media (min-width:1000px){
	.intro-to-doctors{
		.doctor-container{
			.doctors{
				.img-container{
					max-height: 23rem;
				}
			}	
		}
	}
}
@media (min-width:1200px) {
	.desktop-view {
		display: block;
	}
	.mobile-cum-tablet-view {
		display: none;
	}
	.mobile-view {
		display: none;
	}
	.nav{
		padding:1.25rem 0 1.25rem 7%;
	}
	.find-section {
		text-align: left;
		padding: 9.3rem 7%;
		p {
			width: 45%;
			font-size: 1.28rem;
			letter-spacing: 0.08rem;
		}
		.search-healthcare-form {
			margin-top: 2.5rem;
			width: 65%;
			height: 4rem;
			.location{
				width:35%;
			}
		}
		.search{
			width:45%;
		}
		button {
			width:20%;
			height: 4rem;
		}
	}
	.how-it-works {
		text-align: left;
		padding: 4rem 0;
		margin-left: 7%;
		.facility-container {
			grid-template-columns: 40% 60%;
			.facility-info-container {
				margin-top: 3.5rem;
				.facility-box {
					max-width: 33.1rem;
					padding: 0 0 0 2.5rem;
					height: 8.1rem;
					margin: .625rem .125rem;
					.facility-number {
						color: $lightGrey;
						margin-right: 2rem;
						font-size: 2.2rem;
					}
					p {
						letter-spacing: 0;
						font-size: 1.6rem;
					}
                }
                .highlight{
					border:solid .19rem $blue;
					.facility-number{
						color:rgba(48, 164, 231, 0.5);
					}
                }
			}
			.facility-img-section {
				text-align: center;
				.facility-img {
                    width:50%;height:50%;
				}
				p {
					display: inline-block;
					width: 60%;
				}
				h3 {
					font-size:1.6rem;
					margin-top: 1.4rem;
				}
			}
		}
	}
	.intro-to-doctors {
		padding: 4rem 7%;
		text-align: left;
		.doctor-container {
			display: grid;
			grid-template-columns: 24% 24% 24% 23%;
			grid-column-gap: 1.5rem;
			justify-content: unset;
			.doctors {
				background: $white;
				margin: 1rem 2rem 1rem 0;
				width: 100%;
				max-width: unset;
				height: 35rem;
				&:nth-child(even){
					margin-left:0;
				}
				.doctor-info{
					h3{
						margin-top:1rem;
						font-size:1.5rem;
					}
					p{
						font-size:1rem;
						color:rgb(56, 54, 54);
					}
				}
				.img-container{
					max-height: 25rem;
					.doctor-img {
						width: 100%;
						max-width: unset;
						height: 25rem;
					}
				}
			}
		}
	}
	.circles-container {
		display: flex;
	}
	.features {
		margin: 5rem 7%;
		padding:0;
		text-align: left;
		.features-container {
			width: 100%;
			margin-top: 4.3rem;
			grid-template-columns: 33% 32.5% 33%;
			grid-column-gap: .625rem;
			grid-template-rows: auto;
			justify-content: start;
			.even-height {
				.feature-info-img {
					width: 100%;
					height: unset;
					text-align: left;
					margin-left: auto;
					margin-right: auto;
					.feature-info-data {
						p {
							font-size: .95rem;
							&:nth-child(odd) {
								margin-bottom:.5rem;
								font-size: 1.5rem;
								font-family: "nexa-bold";
								// font-weight: bold;
							}
						}
					}
					.cancer {
						top: 14.5rem;
					}
					.organTransplant {
						top: 33.25rem;
					}
					.dentistry {
						top: 27rem;
					}
					.orthoped {
						top: 20.75rem;
					}
					.cardiac {
						top: 20.75rem;
					}
					.infer {
						top: 27rem;
					}
				}
				grid-template-columns: 100%;
				grid-row-gap: .625rem;
			}
			.nested-grid1 {
				grid-template-rows: 18.75rem 37.5rem;
			}
			.nested-grid2 {
				grid-template-rows: 31.25rem 25rem;
			}
			.nested-grid3 {
				grid-template-rows: 25rem 31.25rem;
			}
		}
	}
	.services {
		margin: 0;
		text-align: left;
		padding: 5rem 7%;
		.services-container {
			justify-content: flex-start;
			margin-top: 3rem;
			.service-container {
				font-size: 1.3rem;
				margin-right:.62rem;
				text-align: center;
				border-radius:0;
				max-width: 15.81rem;
				width: 16.1%;
				height: 15.62rem;
				img {
					position: relative;
					top: 2.9rem;
				}
				h4 {
					position: relative;
					top: 3.3rem;
				}
			}
		}
	}
}
