$grey:rgb(172, 172, 172);
$lightGrey:rgb(235, 235, 235);
.main-container{
    height:68vh;
    @media (min-width:700px){
        height:75vh;
    }
    @media (min-width:1000px){
        height:60vh;
    }
    .form-container{
        // align-items: stretch;
        display:block;
        text-align:center;
        hr{
            position: relative;
            right:1px;
        }
        form{
            // width:100%;
            .field-set{
                .input-container{
                    margin:.7rem 0;
                    position:relative;
                    input{
                        font-size:1.2rem;
                        padding:1.2rem 1rem;
                    }
                    .fa-question-circle{
                        position:absolute;
                        right:1rem;
                        top:1.27rem;
                        color:$grey;
                    }
                    ::placeholder{
                        font-size:1.1rem;
                    }
                }
                .btn-container{
                    button{
                        padding:1.2rem 1rem;
                    }
                    .fa-arrow-right{
                        top:1.15rem;
                    }
                }
            }
        }
    }
}